<table border="1">
	<tr> 
		<td colspan='7' align='center'><b>Employee Financial Report<b></td> 
	</tr>
	<tr>		
		<td class="tableTd">&nbsp;</td>
		<td class="tableTd">&nbsp;</td>
		<td class="tableTd">&nbsp;</td>
		<td class="tableTd">&nbsp;</td>
		<td class="tableTd">&nbsp;</td>
		<td class="tableTd">&nbsp;</td>
		<td class="tableTd">&nbsp;</td>
		
	</tr>
	<tr>		
		<td class="tableTd">&nbsp;</td>
		<td class="tableTd">&nbsp;</td>
		<td class="tableTd">&nbsp;</td>
		<td class="tableTd">&nbsp;</td>
		<td class="tableTd">&nbsp;</td>
		<td class="tableTd">&nbsp;</td>
		
	</tr>  		
	<tr>
		<th class="tableTd">Name</th>
		<th class="tableTd">PAN No.</th>
		<th class="tableTd">Account No.</th>
		<th class="tableTd">Bank Name</th>
		<th class="tableTd">Bank Address</th>
		<th class="tableTd">IFSC</th>
		<th class="tableTd">Current Salary</th>
	</tr>
	<?php //printing data
	foreach($crData as $val) { 
		//pr($val);die();
		
	//$bgclr  = $val['Credential']['status']  ? '#ffffff' : '#ff6544'; //if status is deactivated then red.
	?>
		<tr>
		<td  align="right"><?php echo $val['first_name']." ".$val['last_name'] ?></td>
		<td align="right"><?php echo $val['pan'] ?></td>
		<td  align="right"><?php echo $val['account_number'] ?></td>	
		<td  align="right"><?php echo $val['bankName'] ?></td>
		<td  align="right"><?php echo $val['branch'] ?></td>
		<td  align="right"><?php echo $val['ifsc'] ?></td>
		<td  align="right"><?php echo $val['appraised_amount'] ?></td>
		</tr>
	<?php
	}//end for
	?>
	</tr>		
</table>