

<div class="sttabs tabs-style-linebox erw">
                    <nav class="lis">
                      <ul class="">

  <li> <a><h2 style="color:red;"><?php if(isset($agency)){
  echo $agency;
  }
 ?> Labs Arrangement - Day Shift</h2></a></center> 
</li>
                 </ul>
                    </nav>
               </div><!-- /tabs -->
               <br>
         <div class="row">
           <?php 
        if(isset($resultData)){
           $i=0;  $j=0; foreach($resultData as $res){
   
		//pr($res);die;
		if($i==7){ 
			$i=0; ?>
			</tr>
		<?php } ?>
	<?php 	if($i==0) { ?>
	<tr class="seattr">
  <?php } ?>
    <td class="seattd"> 
    <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="white-box text-center ">
            <h3 class="text-white">
	<?php 
	$userName = $res['first_name']." ".$res['last_name'];
	$projectList = (!empty($res['projects'])) ? $res['projects'] : "No Projects";
	echo $this->Html->link($userName,'#',
					array('title'=>$projectList,'class'=>'info-tooltip')
				);	
		?>
	</h3> <p class="text-white">
	<?php
		
    $userSession = $session->read("SESSION_ADMIN");
$userRoles = explode(",",$userSession['2']);

		$permissionFlag = 0;
		if(in_array('1',$userRoles)){
			$permissionFlag = 1;
		}
		if($permissionFlag==1){ 
	?>
	


		
  <?php
     echo $this->Html->link('Description', '/employees/seatreport/' . $res['id'],array('class'=>'popup_window','title'=>'Details'));
   ?>

           </p>
         
	<?php } ?>
	 <p class="text-black">
	<b><?php echo $res['seat_number']; ?>
	            </p></b></div>
        </div>
  <?php  $i++; $j++; }
  }else{
  ?>

 <div class="error-body text-center"><h1>404</h1><h3 class="text-uppercase">No Record Found !</h3><p class="text-muted m-t-30 m-b-30"></p>  </div>
<?php
} ?>

        
</div>
<style>
.popup_window {
    color: red;
    font-weight: bolder;
}
.info-tooltip {
    color: springgreen;
}
</style>