/*
.content-wrap.text-center.col-md-12 {
    height: 20px;
}
*/
#hide_for_left {
    display: none;
}
.label-success.label-rouded {
    color: white;
}

/*
 .el-element-overlay .el-card-item .el-overlay-1:hover li {
    -ms-transform: scale(1.2) translateZ(0);
    -webkit-transform: scale(1.2) translateZ(0);
    /* transform: scale(1.2) translateZ(0); */
 /*
.list-inline.two-part {
    padding: 39px;
}
 */


 /* start work on the project list one page */


.dropdown-menu.animated.drp_list {
    margin-left: 182px;
    z-index:2;
}

.nav.nav-tabs.nav-own {
    border-bottom: medium none;
}

.btn.waves-effect.waves-light.btn-info {
    padding: 7px;
     width: 41px;
}
.btn.dropdown-toggle.btn-primary.btn-outline {
/*width: 350px; */
    }
 .dropdown-menu.open {/*width: 350px; */}

.col-md-1.paginateproject {
    margin-top: -22px;
}

.myadmin-alert.myadmin-alert-img.myadmin-alert-click.alert-danger.myadmin-alert-top.alerttop2 {
    z-index: 99999;
}


.myadmin-alert.myadmin-alert-img.myadmin-alert-click.alert-success.myadmin-alert-top.alerttop1 {
    z-index: 99999;
}


.nav.nav-tabs.list-group-item-info.own_style > li {
    margin-right: -2px;
}

/*for negative admin */
.box-title.m-b-0 {
    line-height: 30px;
}
span#usr_name_1 {
    color: red;
    float: right;
    font-size: 11px;
    font-style: italic;
    margin-right: 5px;
}
.col-md-12.uppericonslist {
    padding: 22px;
}

.col-md-12.uppericonslist > a {
    color: red;
}

.displaycount {
    color: green;
    margin-bottom: 12px;
    margin-left: 1039px;
    margin-top: -2px;
}

.nav.nav-tabs.list-group-item-info > li {
    margin-right: -5px;
}
/**/
 /*  end code  on the project list one page */
 /*testimonilas page start*/
 .last_update{
    display:none;
 }
 .pdftesti{
    color:red;
 }
 /*testimonials end */
 /* appraisals code start*/

 .appraisal_date{
    display:none;
 }
 .next_review_date{
    display:none;
 }
 .pe{
    display:none;
 }
 /* appraisals end */
 /* employee list page */
 
 .fancybox.popup_window {
    float: right;
    margin-top: -61px;
}
 /* employee list page */

 /*montly performane start*/
  ul.webwidget_rating_simple.a {
    list-style-type: none;
}

.webwidget_rating_simple{
          padding: 0px;
          margin: 0px;
          float: left;
     }
     .webwidget_rating_simple li{
       
         width: 15px;
        cursor: pointer;
   }
   .webwidget_rating_simple li span{
        display: none;
    }
   .webwidget_rating_simple li {
    cursor: pointer;
    float: left;
    height: 15px;
    line-height: 0;
    list-style: outside none none;
    margin: 0 0 0 2px;
    padding: 0;
    width: 15px;
}

 /**/
 /*billing page*/
 a.icon-1 {
    background: rgba(0, 0, 0, 0) url("../images/table/table_icon_1.gif") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 24px;
    margin: 0 4px 0 0;
    width: 24px;
}
a.icon-5 {
    background: rgba(0, 0, 0, 0) url("../images/table/table_icon_5.gif") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 24px;
    margin-right: 4px;
    width: 24px;
}
.table.table-hover a {
    color: #666666;
}
 /**/

 /*lead start */
.input.checkbox > input {
    opacity: 23;
 }
.input-group > label {
    margin-left: 40px;
    margin-top: 4px;
 }
 .unk{
    display:none;
 }
 .e_l{
    color:red;
 }
 .sdates{
    margin-left:604px;
 }

 .white-box.leading {
    background-color: #EDF1F5;
    height: 260px;
    margin-top: 54px;
}

.ld {
    margin-top: 120px;
}

 /*lead code end */

 /*profile details*/
 .popover-primary {
    cursor: pointer;
}

 .leftpa {
    margin-left: 88px;
    margin-top: -20px;
    /*overflow-wrap: break-word;*/
}
/*.notification {
     color: red !important;
    
     font-weight:bold;
     margin-top:17px;
    } 
*/
/*creadentials page or profile details*/

   .notification {
    color: red !important;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -6px;
    position: absolute;
}

.row.pull-right {
    margin-bottom: 50px;
    margin-top: -33px;
    margin-left: 900px;
    position: absolute;
    width: 600px;
}

 /*end profile details*/

 /*hardware*/
 
 .price{
    color: #ab8ce4;
 }

 /*hardware list */

 /*creadentials add page */
.password {
    color: mediumspringgreen;
    cursor: pointer;
    font-weight: bolder;
    margin-left: 371px;
    margin-top: -89px;
    position: absolute;
}
.switchery.switchery-small {
    margin-left: 55px;
    margin-top: 12px;
}

/*credentials end*/