.form-submit	{
	background: url(../images/forms/form_submit.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	margin: 0 4px 0 0;
	padding: 0;
	text-indent: -3000px;
	width: 80px;
	}
.form-reset	{
	background: url(../images/forms/form_reset.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	text-indent: -3000px;
	width: 80px;
	}
.ourselect{
 width: 192px;
  height: 24px;
}
.form-textarea	{
	background: url(../images/forms/form_textarea.gif) no-repeat;
	border: none;
	color: #393939;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 97px;
	overflow: auto;
	padding: 6px 6px 0 6px;
	width: 378px;
	}
a.agreed{
	 background: url("../images/agreebtn.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 29px;
    margin: 0 0 0 -2px;
	width: 81px;
 } 