/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_1.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

.preload1 {background: url(blank_over.gif);}
.preload2 {background: url(blank_overa.gif);}

#nav {padding:0; margin:0; list-style:none; height:36px;  position:relative; z-index:500; font-family:arial, verdana, sans-serif;}
#nav li.top {display:block; float:left;}
#nav li a.top_link {  background: #444444; /* Old browsers */
background: -moz-linear-gradient(top, #444444 0%, #282828 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#282828)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #444444 0%,#282828 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #444444 0%,#282828 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #444444 0%,#282828 100%); /* IE10+ */
background: linear-gradient(to bottom, #444444 0%,#282828 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
   border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 6px #1E1E1E inset, -1px 1px 0 #5B5B5B;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    line-height: 26px;
    margin: 4px 3px 1px 0;
    padding: 0 18px;
    text-decoration: none;}
#nav li a.top_link span {float:left; display:block; padding:0; height:36px;background:url(blank.gif) right top;}
/*#nav li a.top_link span.down {float:left; display:block; padding:0 24px 0 12px; height:36px; background:url(blanka.gif) no-repeat right top;}*/
#nav li a.top_link:hover {color:#fff;}
#nav li a.top_link:hover span {background:url(blank_over.gif) no-repeat right top;}
#nav li a.top_link:hover span.down {background:url(blank_overa.gif) no-repeat right top;}

#nav li:hover > a.top_link {color:#fff;}
#nav li:hover > a.top_link span {background:url(blank_over.gif) no-repeat right top;}
#nav li:hover > a.top_link span.down {background:url(blank_overa.gif) no-repeat right top;}

/* Default list styling */

#nav li:hover {position:relative; z-index:200;}

/* keep the 'next' level invisible by placing it off screen. */
#nav ul, 
#nav li:hover ul ul,
#nav li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover ul.sub
{ 
    /*border: 1px solid #FFFFFF;*/
      background: #444444; /* Old browsers */
background: -moz-linear-gradient(top, #444444 0%, #282828 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#282828)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #444444 0%,#282828 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #444444 0%,#282828 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #444444 0%,#282828 100%); /* IE10+ */
background: linear-gradient(to bottom, #444444 0%,#282828 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
   border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 6px #1E1E1E inset, 1px 1px 0 #5B5B5B;
    height: auto;
    left: 0;
    top: 35px;
    white-space: nowrap;
    width: 152px;
    z-index: 300;}
#nav li:hover ul.sub li
{      display: block;
    float: left;
    font-weight: normal;
    height: 20px;
    padding:4%;
    position: relative;
    width: 92%;}
#nav li:hover ul.sub li:first-child{
	padding-top:8%;
	}
#nav li:hover ul.sub li:last-child{
	padding-bottom:8%;
	}
#nav li:hover ul.sub li a
{  color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    text-indent: 5px;
    width: auto;}
#nav li ul.sub li a.fly
{background:#fff url(arrow.gif) 80px 7px no-repeat;}
#nav li:hover ul.sub li a:hover 
{background:#3a93d2; color:#fff;}
#nav li:hover ul.sub li a.fly:hover
{background:#3a93d2 url(arrow_over.gif) 80px 7px no-repeat; color:#fff;}

#nav li:hover ul li:hover > a.fly {background:#3a93d2 url(arrow_over.gif) 80px 7px no-repeat; color:#fff;} 

#nav li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul
{left:90px; top:-4px; background: #fff; padding:3px; border:1px solid #3a93d2; white-space:nowrap; width:90px; z-index:400; height:auto;}
#nav li ul.sub{
width:152px;
}