/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block !important;
  overflow-x: auto !important;
  padding: 0.5em !important;
  color: #333 !important;
  background: #f8f8f8 !important;
  font-size: 14px !important;
}

.hljs-comment,
.hljs-quote {
  color: #998 !important;
  font-style: italic !important;
  font-size: 14px;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333 !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080 !important;
  font-size: 14px !important;
}

.hljs-string,
.hljs-doctag {
  color: #d14 !important;
  font-size: 14px;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900 !important;
  font-weight: bold !important;
  font-size: 14px;
}

.hljs-subst {
  font-weight: normal !important;
  font-size: 14px;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458 !important;
  font-weight: bold !important;
  font-size: 14px;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080 !important ;
  font-weight: normal !important;
  font-size: 14px;
}

.hljs-regexp,
.hljs-link {
  color: #009926 !important;
  font-size: 14px;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073 !important;
  font-size: 14px;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3 !important;
  font-size: 14px;
}

.hljs-meta {
  color: #999;
  font-weight: bold !important;
  font-size: 14px;
}

.hljs-deletion {
  background: #fdd !important;
  font-size: 14px;
}

.hljs-addition {
  background: #dfd !important;
  font-size: 14px;
}

.hljs-emphasis {
  font-style: italic !important;
  font-size: 14px;
}

.hljs-strong {
  font-weight: bold !important;
  font-size: 14px;
}
