@media screen and (max-width:992px) {
.navbar-nav > li {
    margin: 0;
}
.navbar-nav > li > a {
    font-size: 16px
}
.our_story h1, .heading-set {
    font-size: 32px
}
.our_story p {
    font-size: 14px;
    margin-bottom: 15px
}
.weekly_deal h2 {
    font-size: 32px;
    margin-bottom: 40px
}
.social_icon a {
    font-size: 34px;
}
.footer_top h4 {
    font-size: 18px
}
}

@media screen and (max-width: 767px) {
.navbar-brand {
    height: auto
}
.navbar-nav > li {
    display: block
}
header ul.nav {
    text-align: left;
    width: auto
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #7cc576
}
.navbar-default .navbar-toggle {
    border-color: #7cc576
}
.navbar-toggle{
	margin-top:20px
}
.our_story h1, .heading-set {
    font-size: 30px
}
.weekly_deal h2 {
    font-size: 30px;
	margin-bottom:40px
}
.weekly_deal p{text-align:center}
.read_more {
    display: inline-block;
    width: 150px;
    margin-bottom: 20px
}
}