<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  <form action="/update" method="POST">
    <input type="text" placeholder="name" name="name" value="<%= quote.name %>">
    <input type="text" placeholder="quote" name="quote" value="<%= quote.quote %>">
    <input type="text" placeholder="quote" name="id" value="<%= quote._id %>">
    <button type="submit">Submit</button>
  </form>
  <script src="main.js"></script>
</body>
</html>