


<div class="col-lg-12 col-md-9 col-sm-8 col-xs-12 mail_listing">



                <div class="media m-b-30 p-t-20">
                  <h4 class="font-bold m-t-0">Question:<?php echo $faq->title ;?></h4>
                <p>Answer:<?php echo $faq->description ;?></p>
            </div>
              