<div class="x7 cb c p11	li3">
<p><a href="<?php echo BASE_URL ?>">Home</a>|<a href="<?php echo BASE_URL."static_pages/view/about-us" ?>">About us</a>|<a href="<?php echo BASE_URL."static_pages/view/career" ?>">Careers</a>|<a href="<?php echo BASE_URL."webleads/contactus/contactus" ?>">Contact us</a>
<p class="c li3 p12">Copyright &copy; 2010 - 2015 VLL Software Pvt. Ltd. All rights reserved | mailto: <a href="mailto:admin@VLLsolutons.com">admin@VLLsolutons.com</a></p>
<p align="center"><img src="<?php echo BASE_URL.'/images/co-icon.png'?>" width="39" height="36" vspace="7"></p>

</div>