<?php header("Cache-Control: max-age=300, must-revalidate"); ?>
<div class="fr w8">
<div class="w1 fr p1 li1">
<p><img src="<?php echo BASE_URL."/images/hm.gif"?>" width="13" height="11" align="absmiddle" hspace="10" vspace="5"><a href="<?php echo BASE_URL?>">Home</a></p>
<p><img src="<?php echo BASE_URL."/images/cont.gif"?>" width="16" height="11" align="absmiddle" hspace="10" vspace="5"><a href="<?php  echo BASE_URL."webleads/contactus/contactus"?>">Contact us</a></p>
<p><img src="<?php echo BASE_URL."/images/career.gif"?>" width="16" height="14" align="absmiddle" hspace="10" vspace="5"><a href="<?php echo BASE_URL."/static_pages/view/career"?>">Careers</a></p>
</div>
</div>
<div><a href="<?php echo BASE_URL?>"><img src="<?php echo BASE_URL."/images/shared/logosel.png"?>" width="230" height="93" alt="VLL Software"></a></div>