<div id="message-red" class="session_message">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody><tr>
		<td class="red-left"><?php echo $message ?></div></td>
		<td class="red-right"><a class="close-red"><?php echo $html->image(BASE_URL."images/table/icon_close_red.gif",array("alt" => SITE_NAME)); ?></a></td>
	</tr>
	</tbody></table>
</div>