<div id="message-green">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody><tr>
		<td class="green-left"><?php echo $message ?></td>
		<td class="green-right"><a class="close-green"><?php echo $html->image(BASE_URL."images/table/icon_close_green.gif",array("alt" => SITE_NAME)); ?></a></td>
	</tr>
	</tbody></table>
</div>