<div class="c1 x b f2 cb">
<img src="<?php echo BASE_URL."images/tp-rt.gif"?>" width="31" height="29" align="right"><img src="<?php echo BASE_URL."images/tp-lft.gif"?>" width="31" height="29" align="left">
<div class="fr p2 c13">Search&nbsp;<input name="" type="text"><img src="<?php echo BASE_URL."images/go.gif"?>" width="20" height="18" align="absmiddle" hspace="4"></div>
<ul><li><a href="<?php echo BASE_URL?>" ONMOUSEOVER="exM(m1,'m1mn1','m1tlm1',event);" ONMOUSEOUT="coM(m1,'m1mn1');" ID="m1tlm1">Company</a></li>
<li><img src="<?php echo BASE_URL."images/line.gif"?>" width="3" height="29" align="absmiddle"></li>
<li><a href="<?php echo BASE_URL."static_pages/view/portfolio"?>" ONMOUSEOVER="exM(m1,'m1mn2','m1tlm2',event);" ONMOUSEOUT="coM(m1,'m1mn2');" ID="m1tlm2">Portfolio</a></li>
<li><img src="<?php echo BASE_URL."images/line.gif"?>" width="3" height="29" align="absmiddle"></li>
<li><a href="#" ONMOUSEOVER="exM(m1,'m1mn4','m1tlm4',event);" ONMOUSEOUT="coM(m1,'m1mn4');" ID="m1tlm4">Methodologies</a></li>
<li><img src="<?php echo BASE_URL."images/line.gif"?>" width="3" height="29" align="absmiddle"></li>
<li><a href="#" ONMOUSEOVER="exM(m1,'m1mn6','m1tlm6',event);" ONMOUSEOUT="coM(m1,'m1mn6');" ID="m1tlm6">Career</a></li>
<li><img src="<?php echo BASE_URL."images/line.gif"?>" width="3" height="29" align="absmiddle"></li>
<li> <a href="#" ONMOUSEOVER="exM(m1,'m1mn5','m1tlm5',event);" ONMOUSEOUT="coM(m1,'m1mn5');" ID="m1tlm5">Contact Us</a></li>
<li><img src="<?php echo BASE_URL."images/line.gif"?>" width="3" height="29" align="absmiddle"></li>
<li><a href="#" ONMOUSEOVER="exM(m1,'m1mn7','m1tlm7',event);" ONMOUSEOUT="coM(m1,'m1mn7');" ID="m1tlm7">Formats</a></li>
</ul>
</div>