<table width="100%" >
        <tr>
                <td width="10%"  > </th>
                <td width="30%" > <b>Name</b></th>
                 <td width="60%"> <b>Username</b> </th>
        </tr>
                <?php

                
                        foreach($userData as $res) { ?>
        <tr>
                <td> 
                                
                </td>
                <td><?php echo $res->first_name ." ".$res->last_name ; ?></td>
                <td><?php echo $res->username ?> </td>
        </tr>
                        <?php }  ?>
</table>
                