<?php echo $html->css(array("screen")); ?>
<style type="text/css">
#content{
max-width:100%;
min-width:100%;
}
</style>
<!--  start content-table-inner -->
	<div id="content-table-inner">
	<a id='close-fb' style='visibility:hidden' href="javascript:void(0);" onclick='javascript:closefb();'></a> <!--This Link is used to close iframe on click -->
	<?php $user = $session->read("SESSION_ADMIN"); ?>
	<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr valign="top">
	<td>
	
	<!--  start table-content  -->
			<div id="table-content">
			<?php echo $session->flash(); ?>
				<center><span style="font-weight:bold;">Profile(s) Not Having Running Projects </span></center>
			<table border="0" width="84%" cellpadding="0" cellspacing="0" id="product-table" class="tablesorter" style="margin-left:50px;">
				<tr>
					<th class="userattend"style="width:10%;height:20px;" nowrap><h4>S.NO</h4></th>
					<th class="userattend"style="width:30%;height:20px;" nowrap><h4>User Name</h4></th>
					<th class="userattend"style="width:30%;height:20px;" nowrap><h4>Profile Name</h4></th>
					<th class="userattend"style="width:40%;height:20px;" nowrap><h4>Profile URL</h4></th>
				</tr>
					
					
				<?php
				
				if(count($running_projects)>0){
					$counter = 1; 
			
				foreach($running_projects as $val){
				
				
				?>
				<tr>
				    <td><?php echo $counter++; ?></td>
					<td><?php  echo $val['saleProfile']['username']; ?></td>
					<td><?php  echo $val['saleProfile']['nameonprofile'];  ?></td>
					<td><?php  echo $val['saleProfile']['profileurl'];  ?></td>
					
				</tr>
				<?php
			
				}
					
					} else{?>
				<tr>
					<td colspan="3" class="no_records_found">No records found</td>
				</tr>
		<?php } ?>
			
			</table>
			
			</div>
			<div class="clear"></div>

	</td>
	
			</table>
			<div class="clear"></div>
			</div>
			