<link href="../plugins/bower_components/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>js/ui-timepicker_latest.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>js/datetimepicker/jquery.datetimepicker.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>js/jquery-ui/jquery-ui.css" media="screen" />
<?php echo $this->Html->css(array('oribe')); ?>
<?php
 $this->Html->script(array('jquery-3',"jquery-ui/jquery-ui",'allajax','migrate', 'common','listing','project'));
 ?>
 <script src="<?php echo BASE_URL; ?>js/jquery-3.js"></script>
 <script src="<?php echo BASE_URL; ?>js/jquery-ui/jquery-ui.js"></script>
<!--  <script src="<?php echo BASE_URL; ?>js/datetimepicker/jquery.datetimepicker.js"></script>
 <script src="<?php echo BASE_URL; ?>js/jquery_timepicker_latest.js"></script> -->
  <script src="<?php echo BASE_URL; ?>js/allajax.js"></script>
    <script src="<?php echo BASE_URL; ?>js/common.js"></script>
<?php echo $this->Html->css(array("oribe")); ?>
<input id="pe" class="pe" value="<?php echo $pagename;?>">

<!-- <script type="text/javascript">
    $(document).ready(function() { 
      //calender
      $( "#sdate" ).datepicker({
        dateFormat: 'MM dd, yy',
      });
      $( "#edate" ).datepicker({
        dateFormat: 'MM dd, yy',
      });

     
  });
  </script> -->
<style>
.dropdown-menu.animated.drp_list {
    margin-left: 6px;
    z-index:2;
}


</style>
<script>
function activate(id){
		if($.active>0){
		}else{
			$.post(base_url+'admin/billings/verifybilling',{'id':id,'key':'verify'},function(data){
				if(data==1){
				
				$('#verify_'+id).toggle();
				$('#unverify_'+id).toggle();
				$("#success").html("Billing has been veryfied successfully!");
				$('#success').show();
				setTimeout(function() { $('#success').fadeOut('slow'); }, 3000);
				
				}
			});
		}
		
	}
	function display(id){
			var temp = id.split("_");
			
			$('#paytext_'+temp[1]).toggle();
			$('#showpass_'+temp[1]).toggle();
		}
</script>
<?php
$totalcount = 0;
	 
?>
<div class="row el-element-overlay m-b-40">

		<div class="col-md-12 ">
		
				<button class="btn fcbtn btn btn-warning btn-outline btn-1b dropdown-toggle waves-effect waves-light" aria-expanded="false" data-toggle="dropdown" type="button">
					Sort By
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu animated drp_list" role="menu">
					<li><a href="#" class="1">Profile Name</a></li>  
					<li><a href="#" class="2">Username</a></li>
					<li><a href="#" class="3">Password</a></li>
					<li><a href="#" class="4">Email Id</a></li>
					<li><a href="#" class="5">Profile Url</a></li>
				</ul>
	   </div>
<br>
<br>
 <!-- <script src="moment.js"></script>
    <script src="moment-timezone-with-data.js"></script> -->
    <div class="ajax">

      <div class="parent_data">
      <span class="mytooltip tooltip-effect-5">
				<?php
if(count($profiledetail)>0){
 $counter=0;
				foreach($profiledetail as $profiledetailres){

				 $id=$profiledetailres->id;
              ?>
		 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alldata">
                  <div class="white-box">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs firstLISt" role="tablist">
                          <li role="presentation" class="active"><a href="#ihome" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false"><span><i class="ti-home"></i></span></a></li>
                          <li role="presentation" class="" style="display:none;"><a href="#iprofile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span><i class="ti-user"></i></span> </a></li>
                          <li role="presentation" class="" style="display:none;"><a href="#imessages" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span><i class="ti-email"></i></span></a></li>
                          <li role="presentation" class="" style="display:none;"><a href="#isettings" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="true"><span><i class="ti-settings"></i></span></a></li>
                      </ul>
                      <!-- Tab panes  substring($row->parent->category_name,35);  -->
                      <div class="tab-content">
                          <div role="tabpanel" class="tab-pane ihome active" >
                             <ul class="list-group ">
                              <li class="list-group-item list-group-item-danger 1"><b>Profile Name:</b> 
                                  <?php 
                                  $str= $profiledetailres->nameonprofile;
                                  echo $name = substr($str,0,15).((strlen($str)>15)? "...":""); ?>
                                </li>
                               <li class="list-group-item list-group-item-success 2"><b>Username:</b>
                              <?php 
                              $str= $profiledetailres->username;
                              echo $name = substr($str,0,15).((strlen($str)>15)? "...":""); ?>
                             </li>
                                  <li class="list-group-item list-group-item-info 3"><b>Password :</b> 
                               <a class="popover-primary" type="button" title="" data-toggle="popover" data-placement="top" data-content="Username:<?php echo $profiledetailres->username;?>  Password:<?php echo htmlspecialchars($profiledetailres->password);?>" data-original-title="Details" aria-describedby="popover507663">show</a>
                                    </li>
                                     <li class="list-group-item list-group-item-warning 4"><b>Email Id :</b> 
                             <a class="popover-primary" type="button" title="" data-toggle="popover" data-placement="right" data-content="<?php echo $profiledetailres->email;?>" data-original-title="Email Id" aria-describedby="popover507663"> <?php 
                               $str= $profiledetailres->email;
                               echo $name = substr($str,0,15).((strlen($str)>15)? "...":""); ?>
                           </a></li>

                                         <li class="list-group-item list-group-item-danger 5"><b>Profile URL:</b>
                             <a class="popover-primary" type="button" title="" data-toggle="popover" data-placement="bottom" data-content="<?php echo $profiledetailres->profileurl;?>" data-original-title="Profile Url" aria-describedby="popover507663">
      
                              <?php $str= $profiledetailres->profileurl;
                               echo $name = substr($str,0,19).((strlen($str)>19)? "...":""); ?>
                                     </a> </li>


                                      <ul class="nav nav-tabs list-group-item-info" role="tablist">
                                     <li>
                                     <?php 
                                           echo $this->Html->link(
                                              '<i class="fa fa-bolt"></i>',
                                            array('controller'=>'sales','action'=>'runningprojects','id'=>$profiledetailres->id),
                                             ['escape' => false,'class' => 'btn default btn-outline popup_window','title'=>'Running Projects']
                                             );?>
                                         </li>
                                         <li><?php 
                                           echo $this->Html->link(
                                              '<i class="fa fa-lightbulb-o"></i>',
                                            array('controller'=>'sales','action'=>'suggestions',$profiledetailres->id),
                                             ['escape' => false,'class' => 'btn default btn-outline popup_window','title'=>'Give your suggestions']
                                             );?></li>

                                           <li><?php 
                                           echo $this->Html->link(
                                              '<i class="fa fa-cog"></i>',
                                            array('controller'=>'sales','action'=>'salesedit',$profiledetailres->id),
                                             ['escape' => false,'class' => 'btn default btn-outline popup_window','title'=>'Edit By Sales']
                                             );?></li>

                                                <li><?php 

											$count=0;
											foreach($options as $option){
											if($option->status==1){
											$ids=$option->profile_id;
											if($ids==$id){ 
											$count++;
											}
											} 
											}
											$totalcount = $totalcount+$count;
                                           echo $this->Html->link(
                                              "<span class='notification'>$count</span><i class='fa fa-search'></i>",
                                            array('controller'=>'profileaudits','action'=>'auditdetails','prefix' => 'profileaudits',$profiledetailres->id),
                                             ['escape' => false,'class' => 'btn default btn-outline popup_window','title'=>'Audit details']
                                             );?></li>
                                            

                                             
                                       </ul>
                                 </ul>

                             </div>
                             <div role="tabpanel" class="tab-pane iprofile">
                                <div class="col-md-6">
                                  <h3>Lets check profile</h3>
                                  <h4>you can use it with the small code</h4>
                              </div>
                              <div class="col-md-5 pull-right">
                                  <p>Vulputate eget, arcu, fringilla vel, aliquet nec, daf adfd vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                          <div role="tabpanel" class="tab-pane imessages">
                            <div class="col-md-6">
                              <h3>Come on you have a lot message</h3>
                              <h4>you can use it with the small code</h4>
                          </div>
                          <div class="col-md-5 pull-right">
                              <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                          </div>
                          <div class="clearfix"></div>
                      </div>
                      <div role="tabpanel" class="tab-pane isettings">
                        <div class="col-md-6">
                          <h3>Just do Settings</h3>
                          <h4>you can use it with the small code</h4>
                      </div>
                      <div class="col-md-5 pull-right">
                          <p>Vulputate eget, fringilla vel, aliquet nec, daf adfd vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>
      <?php }
		}else{ ?>
<div class="white-box leading">
<center class="ld"><h3 class="text-uppercase ">No Record Found !</h3></center><p class="text-muted m-t-30 m-b-30"></p> 
</div>
        <?php
      }
    ?>
	
				

</div>
<!-- /.usercard-->
</div>
<div class="row pull-right">
          <div class="col-md-6">
           <p style="color:red;" ><b>Total Open Audit Points: <?php echo $totalcount;?></b></p>
          </div>
   </div>

<!-- /.row -->
<?php echo $this->Html->script(array('cbpFWTabs.js')) ?>
<?php 
echo  $this->Html->script(array('pdetail'));
?>
<script type="text/javascript">
    function veryfycheck()
    {
      alert("1) Either billing for this project is already added for this week."+'\n'+
          "2) Please verify all billing till previous week for this project and then reload this page again to add billing.");

  }

  (function() {

    [].slice.call( document.querySelectorAll( '.sttabs' ) ).forEach( function( el ) {
        new CBPFWTabs( el );
    });

})();
</script>

