
<link href="<?php echo BASE_URL; ?>bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="<?php echo BASE_URL; ?>plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
<!-- Menu CSS -->
<link href="<?php echo BASE_URL; ?>css/animate.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="<?php echo BASE_URL; ?>css/style_new.css" rel="stylesheet">
<link href="<?php echo BASE_URL; ?>css/colors/blue.css" id="theme"  rel="stylesheet">
   <link href="<?php echo BASE_URL; ?>js/tpt/angular-block/dist/angular-block-ui.min.css" rel="stylesheet">


<input type="hidden" class="base" value ="<?php echo $this->Url->build('/', true);?>">
<link href="<?php echo BASE_URL; ?>plugins/bower_components/tablesaw-master/dist/tablesaw.css" rel="stylesheet">
<!--  start content-table-inner -->
  <div class="col-sm-12">
            <div class="white-box">
	<a id='close-fb' style='visibility:hidden' href="javascript:void(0);" onclick='javascript:closefb();'></a> <!--This Link is used to close iframe on click -->
	<?php $user = $session->read("SESSION_ADMIN"); ?>

	<!--  start table-content  -->
		
            <?php echo $this->Flash->render(); ?>
			<center><span class="font-bold text-success"> Profile Details </span></center>
			</br></br>
					  <table class="tablesaw table-bordered table-hover table tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-8990" style="margin-top:10px;font-size:12px;" border="0" width="100%" cellpadding="0" cellspacing="0">
					
			
		<tr><td class="viewtableheading" nowrap>UserName:</td>
		<td width="45%"><?php  echo $resultData['username']; ?></td>
		<td class="viewtableheading" nowrap>Phone No. Attached:</td>
		<td width="45%"><?php  echo ($resultData['phonenoattached']=='' ||$resultData['phonenoattached']==0) ? '' :$resultData['phonenoattached'] ; ?></td>
		</tr>				
					<tr><td class="viewtableheading" nowrap>Password:</td><td width="45%"><?php  echo htmlspecialchars($resultData['password']); ?></td><td class="viewtableheading" nowrap>Security Ques 2:</td><td width="45%"><?php  echo $resultData['securityque2']; ?></td></tr>
					<tr><td class="viewtableheading" nowrap>Type:</td><td width="45%"><?php  echo $resultData['type']; ?></td><td class="viewtableheading" nowrap>Security Ans 2:</td><td width="45%"><?php  echo $resultData['securityans2']; ?></td></tr>
					<tr><td class="viewtableheading" nowrap>Email Id:</td><td width="45%"><?php  echo $resultData['email']; ?></td><td class="viewtableheading" nowrap>Forwarded Email Id:</td><td width="45%"><?php  echo $resultData['forworded_email']; ?></td></tr>
					<tr><td class="viewtableheading" nowrap>Profile Name:</td><td width="45%"><?php  echo $resultData['nameonprofile']; ?></td><td class="viewtableheading" nowrap>Test Passed:</td><td width="45%"><?php  echo $resultData['testpassed']; ?></td></tr>
					<tr><td class="viewtableheading" nowrap>Technology For:</td><td width="45%"><?php  echo $resultData['technologyfor']; ?></td>	<td class="viewtableheading" nowrap>Last Audit Date:</td><td width="45%"><?php  echo ($resultData['lastauditdate']=='1970-01-01' || $resultData['lastauditdate']=='0000-00-00' || $resultData['lastauditdate']==' ') ? '' : $resultData['lastauditdate'] ; ?></td></tr>
					<tr><td class="viewtableheading" nowrap>Status:</td><td width="45%"><?php  echo  ($resultData['status']==1) ?  "Active" : "De active"; ?></td><td class="viewtableheading" nowrap>Contract On Hold:</td><td width="45%"><?php  echo nl2br($resultData['contract_on_hold']); ?></td>
					<tr><td class="viewtableheading" nowrap>Id Verified:</td><td width="45%"><?php  echo ($resultData['idverified']==1) ? "Verified" : "Un verified"; ?></td><td class="viewtableheading" nowrap>Quota:</td><td width="45%"><?php  echo $resultData['quota']; ?></td></tr>
					<tr><td class="viewtableheading" nowrap>Doc in dropbox:</td><td width="45%"><?php  echo ($resultData['docindropbox']==1) ? "Yes" : "No"; ?></td><td class="viewtableheading" nowrap>Sale Rep. Point:</td><td width="45%"><?php  echo $resultData['salesreppoints']; ?></td></tr>
					<tr><td class="viewtableheading" nowrap>Security Ques 1:</td><td width="45%"><?php  echo $resultData['securityque1']; ?></td><td class="viewtableheading" nowrap>Rating:</td><td width="45%"><?php  echo $resultData['rating']; ?></td></tr>
					<tr><td class="viewtableheading" nowrap>Security Ans 1:</td><td width="45%"><?php  echo $resultData['securityans1']; ?></td><td class="viewtableheading" nowrap>Other Notes:</td><td width="45%"><?php  echo $resultData['othernotes']; ?></td></tr>
					<tr><td width="5%"" nowrap>Profile URL:</td><td width="45%"><?php  echo $resultData['profileurl']; ?>
						
					</td>
					<td class="viewtableheading" nowrap>Alloted To:</td><td width="45%">
					<?php 
					$counter = 1;
					foreach($userdata as $userdatares){ 
						echo $userdatares['first_name'];//;
						echo $userdatares['last_name']; echo ($counter < count($userdata)) ? " , " : '';
						$counter++;
						  }?>
							
						</td>	</tr>
					<tr><td class="viewtableheading" nowrap>Payment Remark:</td><td width="45%"><?php  echo $resultData['payment_remark']; ?></td><td class="viewtableheading" nowrap>Associated Paypal:</td><td width="45%"><?php  echo $resultData['associated_paypal']; ?></td></tr>
					<tr><td class="viewtableheading" nowrap>Stats:</td><td width="45%"><?php  echo $resultData['stats']; ?></td><td class="viewtableheading" nowrap>Created:</td><td width="45%"><?php  echo($resultData['created']=='1970-01-01' || $resultData['created']=='0000-00-00' || $resultData['created']==' ') ? '' : $resultData['created'] ;?></td></tr>
                                        <tr><td class="viewtableheading" nowrap>Modified:</td><td width="45%" ><?php  echo($resultData['modified']=='1970-01-01' || $resultData['modified']=='0000-00-00' || $resultData['modified']==' ') ? '' : $resultData['modified'] ; ?></td><td class="viewtableheading" nowrap>Shared:</td><td width="45%"><?php  echo ($resultData['is_shared']==0) ? 'No':'Yes'; ?></td></tr>
				<?php //} ?>
				
			
			</table>
			
		
		

	</td>
	
			</table>
			
			</div>
			</div>

		<!--<script src="<?php echo BASE_URL; ?>/plugins/bower_components/jquery/dist/jquery.min.js"></script>-->
<!-- Bootstrap Core JavaScript -->
<script src="<?php echo BASE_URL; ?>bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
