<script type="text/javascript" src="<?php echo BASE_URL; ?>js/jquery.tablesorter.min.js"></script>


<?php echo $this->Html->script(array("screen")); ?>
<script type="text/javascript">
			var base_url = '<?php echo BASE_URL; ?>';
			jQuery(document).ready(function(){ 
				jQuery('.tablesorter').tablesorter({
	
		});
			}); 
			
			function addmilestone(){
					
				var project_name = $('#project_name').text();
				var platform = $('#platform').val();
				var totalamount = $('#totalamount').val();
				var technology = $('#technology').val();
				var created = $('#created').val();
				//alert("hhhhhhhhhh");
				//alert(project_id);
			
			if($.active>0){
				}else{
					$.post(base_url+'milestones/milestrone_add',{'project_name':project_name,'platform':platform,'totalamount':totalamount,'technology':technology,'created':created},function(data){
							if(data==1){
								window.parent.$('#close-fb').click();
							}
					});
				}
				
				
				}
</script>

<?php echo $this->Form->create('milestone',array('method'=>'POST','onsubmit' => '',"class"=>"login" ,"type"=>"file")); ?>






<div id="content-table-inner">
	<!--<div class="searching_div">-->
<table width = "100%" cellspacing="0" cellpadding="4" border="0" align="center" class="top-search" >
<center><span style="font-weight:bold;"><h4>MileStone Projects</h4></span></center></br>
				<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" class="tablesorter">
				<thead>
						<!--<th class="table-header-repeat line-left incoming" width="5%"><a href="#A">Sr. No.</th>-->
						<th class="table-header-repeat line-left hourlydata" width="30%"><a href="#A">Project Name</th>
						<th class="table-header-repeat line-left hourlydata" width="25%"><a href="#A">Platform</th>
						<th class="table-header-repeat line-left hourlydata" width="15%"><a href="#A">Totalamount</th>
						<th class="table-header-repeat line-left hourlydata" width="10%"><a href="#A">Technology</th>
						<th class="table-header-repeat line-left hourlydata" width="10%"><a href="#A">Created</th>
						<th class="table-header-repeat line-left hourlydata" width="10%"><a href="#A">Option</th>
							</thead>
					<tbody>
				<?php 
							
				if(count($resultData)>0){ 
			
				
				foreach($resultData as $projectData){ 
				//pr($resultData);die;

				//pr($projectData);die;
				?>
				<tr>
					
					<td id="project_name"><?php  echo $projectData['project']['project_name']; ?>
					
					</td>
					<td id="platform" ><?php echo $projectData ['project']['platform']; ?></td>
					<td id="totalamount" ><?php  echo $projectData['amount']; ?></td>
					<td id="technology" ><?php  echo $projectData['project']['technology']; ?></td>
					<td id="created"><?php  echo substr($projectData['project']['created'],0,-8); ?></td>
					<td><?php echo $this->Html->link("",
								array('controller'=>'milestones','action'=>'milestronelist','id'=>$projectData['project']['id']),
								array('class'=>'info-tooltip milestoneimg','title'=>'Add Milestone','onClick'=>'addmilestone()')
							);
						?></td>
				<?php }} else { ?> 
				<tr>
					<td colspan="8" class="no_records_found">No records found</td>
				</tr>
		<?php } ?>
				</tbody>
				</table>
				<div class="clear"></div>

	</td>
</table>
<div class="clear"></div>
<!--</div>-->
<!--  end content-table-inner  -->
