

<!-- <div id="message-red" class="session_message">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td class="red-left"><?php echo $message;?></td>
<td class="red-right">
<a class="close-red">
<img src="http://m.vlogiclabs.com/images/table/icon_close_red.gif" alt="Outsourcing ERP : Outsourcing ERP">
</a>
</td>
</tr>
</tbody>
</table>
</div>  -->


 <div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error!</strong>   <?php echo $message;?>
  </div>

  