<!--
<div id="message-green">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tbody>
<tr>
<td class="green-left"><?php echo $message;?></td>

<td class="green-right">
<a class="close-green">
<img src="http://m.vlogiclabs.com/images/table/icon_close_green.gif" alt="Outsourcing ERP : Outsourcing ERP">
</a>
</td>

</tr>
</tbody>
</table>
</div>


<span class="help-block has-success">
<ul class="list-unstyled">
<li><?php echo $message;?></li>
</ul>
</span>


-->


 <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>Success!</strong>  <?php echo $message;?>
  </div>