	<!--  start content-table-inner -->
<!--  start content-table-inner -->
  <div class="col-sm-6">
            <div class="white-box">

	<?php echo $this->Form->create('Agencies',array('url' => ['action'=>'add'],'method'=>'POST','onsubmit' => '',"class"=>"login",'enctype'=>"multipart/form-data")); ?>
<?php echo $this->Flash->render(); ?>
	

   <div class="form-group">
                    <label for="exampleInputuname">Agency:</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="ti-wallet"></i></div>
			<?php
				 echo $this->Form->input("agency_name",array("class"=>"form-control","label"=>false,"div"=>false));
            ?>
</div>
  <?php if(isset($errors['agency_name'])){
							echo $this->General->errorHtml($errors['agency_name']);
							} ;?></div>

        
   <div class="form-group">
                    <label for="exampleInputuname">First Name:</label>
                     <div class="input-group">
                      <div class="input-group-addon"><i class="ti-wallet"></i></div>
			<?php
				 echo $this->Form->input("first_name",array("class"=>"form-control","label"=>false,"div"=>false));
				 echo $this->Form->hidden("id");
            ?></div>

  <?php if(isset($errors['first_name'])){
							echo $this->General->errorHtml($errors['first_name']);
							} ;?>
        </div>
        
   <div class="form-group">
                    <label for="exampleInputuname">Last Name:</label>
                      <div class="input-group">
                      <div class="input-group-addon"><i class="ti-wallet"></i></div>
                   
      <?php
         echo $this->Form->input("last_name",array("class"=>"form-control","label"=>false,"div"=>false));
         echo $this->Form->hidden("id");
            ?></div>

  <?php if(isset($errors['last_name'])){
              echo $this->General->errorHtml($errors['last_name']);
              } ;?>
        </div>



   <div class="form-group">
                    <label for="exampleInputuname">User Name:</label>
                      <div class="input-group">
                      <div class="input-group-addon"><i class="ti-wallet"></i></div>
                   
      <?php
         echo $this->Form->input("username",array("class"=>"form-control","label"=>false,"div"=>false));
         echo $this->Form->hidden("id");
            ?></div>

  <?php if(isset($errors['username'])){
              echo $this->General->errorHtml($errors['username']);
              } ;?>
        </div>


           <div class="form-group">
                    <label for="exampleInputuname">Password:</label>
                      <div class="input-group">
                      <div class="input-group-addon"><i class="ti-wallet"></i></div>
                   
      <?php
         echo $this->Form->input("password",array("class"=>"form-control","label"=>false,"div"=>false));
         echo $this->Form->hidden("id");
            ?></div>

  <?php if(isset($errors['password'])){
              echo $this->General->errorHtml($errors['password']);
              } ;?>
        </div>



  
		<div class="form-group">
   <button type="submit" class="btn btn-success">Submit</button>
 <?php 
  echo $this->Html->link("Reset",  ['controller'=>'agencies','action'=>'add','prefix' => 'agencies'],['class'=>"btn btn-inverse waves-effect waves-light"]);  
$this->Form->button("Reset",array('type'=>'button','class'=>"btn btn-inverse waves-effect waves-light",'div'=>false,'onclick'=>$this->Url->build('/agencies/add', true)));?>

 </div>
 </div>
</div>

	<div class="col-sm-6">
    <div class="white-box">
         <div class="form-group">
          <div class="row el-element-overlay m-b-40">
   <div class="sttabs tabs-style-linebox erw">
                    <nav class="lis">
                     <h4 class="media-heading">agencies Management</h4>
                            This section is used by Admin and PM only to Manage senstive roles.
                    <ul >
                 <li> <?php  echo $this->Html->link("Go To Listing",array('controller'=>'agencies','action'=>'list'), array('style'=>'color:red;'));?>

              </li> 
          

                 </ul>
                    </nav>
               </div><!-- /tabs -->
            
   </div>   
 </div>
</div>

      <!-- /.right-sidebar -->


</form>
</body>
</html>
		

	