
  <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title"></h4>
        </div>
        </div>



<section id="" class="">
  <div class="login-box">
    <div class="white-box">
		<?php
		echo $this->Form->create('Agency', [ 'url'=>'/regiseter','onsubmit' => '',"class"=>"form-horizontal form-material", 'id'=>'loginform','type' => 'post','prefix'=>'admin']);
		?>
        <h3 class="box-title m-b-20">Sign Up</h3>
        <div class="form-group ">
          <div class="col-xs-12">
          <?php echo $this->Form->input("first_name",array("class"=>"form-control email_id","label"=>false,"div"=>false,"placeholder"=>"First Name","required"=>"required"));?>            
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <?php echo $this->Form->input("last_name",array("class"=>"form-control email_id","label"=>false,"div"=>false,"placeholder"=>"Last Name","required"=>"required"));?>

          </div>
        </div>
          <div class="form-group ">
          <div class="col-xs-12">
          <?php echo $this->Form->input("email_id",array("class"=>"form-control email_id","label"=>false,"div"=>false,"placeholder"=>"Email Id","required"=>"required"));?>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
          <?php echo $this->Form->password("password",array("class"=>"form-control email_id","label"=>false,"div"=>false,"placeholder"=>"Password","required"=>"required"));?>
            
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <?php echo $this->Form->password("confirm_password",array("class"=>"form-control email_id","label"=>false,"div"=>false,"placeholder"=>"Confirm Password","required"=>"required"));?>
          
         

          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary p-t-0">
              <input id="checkbox-signup" type="checkbox">
              <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
          <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
           <?php echo $this->Form->end();?>


          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Already have an account? <a href="login.html" class="text-primary m-l-5"><b>Sign In</b></a></p>
          </div>
        </div>
    
    </div>
  </div>









</section>



