	 <!-- .row -->
 <link href="../plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
 <link href="../plugins/bower_components/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">
 <link href="css/oribe.css" rel="stylesheet">
	<?php
	$purchase_price=array();
	$current_price=array();        
	foreach($resultCredit as $totalcost){
		$purchase_price[]=$totalcost['purchase_price'];
		$current_price[]=$totalcost['current_price'];
	}
	?>

<?php
 $newUrl = "list".$urlString;
$urlArray = array(
    'field'     => $search1,
    'value'     => $search2
);
$this->Paginator->options(array('url'=> array('field'   => $search1,
                                     'value'    => $search2)));
$this->Paginator->templates('number');
?>
 <!-- .row -->
<link href="../plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<link href="../plugins/bower_components/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">
 <link href="../plugins/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" />
<link href="css/oribe.css" rel="stylesheet">
<?php echo $this->Html->css(array("oribe")); ?>


<style>
.switchery.switchery-small {
    float: right;
    margin-left: 147px;
    margin-top: 12px;
}
.list-group-item-warning {
    padding: 11px;
}

</style>
<?php echo $this->Form->create('Hardware',array('url'=>['action' => 'hardwareslist'],'method'=>'POST', "class" => "longFieldsForm", "name" => "listForm", "id" => "mainform")); ?>
<div class="row el-element-overlay m-b-40">
<div class="sttabs tabs-style-linebox erw">
                    <nav class="lis">
                       <ul class="">
                     <li> <span class="price"><b>Current Price:</b><?php echo array_sum($current_price);?></span></li>
                     <li> <span class="price"><b>Purchase Price:</b><?php echo array_sum($purchase_price);?></span></li>
                       </ul>
             </nav>
      </div>

	 <!-- <td style="color:#AB1414 !important">
                            <?php
                           //	pr($totalcost);die();
                           //echo "<b>Current Price:</b>"."&nbsp;&nbsp;".array_sum($current_price)."</br>";
                           //echo "<b>Purchase Price:</b>"."&nbsp;&nbsp;".array_sum($purchase_price)."</br>";
                         ?>
                            
                        </td>-->











<div class="displaycount"><span class="counteringdata"> <?= $this->Paginator->counter([
    'format' => ' {{page}} of {{pages}}'
]) ?></span> Pages</div>

 <div class="col-md-12">
       <div class="col-md-3 searchingdata">
              <?php
				$fieldsArray = array(
				''				  => 'Select',
				'Hardwares.item' => 'Item Name',
				'Hardwares.uniqueid'=>'Unique Id',
				'Hardwares.allotedto'=>'Alloted To'
				);

          echo $this->Form->input("Hardwares.fieldName",array("type"=>"select",'options'=>$fieldsArray,"class"=>"form-control","label"=>false,"div"=>false,"id"=>"status")); ?>
               </div>
           <div class="col-md-4">
		  <?php
				$display1   = "display:none";
				$display2   = "display:none";
				if($search1 != "Hardwares.publish"){
					$display1 = "display:block";
				}else{
					$display2 = "display:block";
				}
					echo $this->Form->input("Hardwares.value1",array("id"=>"search_input","class"=>"form-control","style"=>"width:200px;$display1", "div"=>false, "label"=> false,"value"=>$search2,"placeholder"=>"Search"));
				?>
				

         </div>

		<div class="col-md-4">
		  
				<?php
		echo $this->Form->button("Search", array('class'=>'fcbtn btn btn-success btn-outline btn-1b searchfaicon','id'=>'search','onclick'=>'setSubmitMode(this.id)'))."&nbsp;&nbsp;&nbsp;";

			echo $this->Form->button("Reset", array('class'=>'fcbtn btn btn-danger btn-outline btn-1b resetproject'));
            $this->Form->button("Reset",array('type'=>'button','class'=>"form-reset",'div'=>false,'onclick'=>$this->Url->build('/hardwares/hardwareslist', true)));
				?>




			<button class="btn fcbtn btn btn-warning btn-outline btn-1b dropdown-toggle waves-effect waves-light" aria-expanded="false" data-toggle="dropdown" type="button">
			Sort By
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu animated drp_list" role="menu">
		    <li>
			<a href="#" class="1">Item</a>
			</li>  
			<li>
			<a href="#" class="2">Unique Id</a>
			</li>

			<li>
			<a href="#" class="3">Alloted To </a>
			</li>
			<li>
			<a href="#" class="4"> Description</a>
			</li>
			
			<!-- <li class="divider"></li> -->
			
			</ul>

			<?php 
			echo $this->Html->link('<i class="fa  fa-plus"></i>',
			array('controller'=>'hardwares','action'=>'add'),
			['escape' => false,"class"=>"btn btn-info btn-circle ","data-toggle"=>"tooltip", "data-placement"=>"top" ,"data-original-title"=>"Click to add Hardwares"]
			);
			?>
			<?php echo $this->Form->end(); ?>
			
		 </div>
		 <div class="col-md-1 paginateproject">
		     <ul class="pagination paginate-data">
				<li class="previousdata">
				
				<?php  echo $this->Paginator->prev('<span class="fa fa-angle-left" ></span>', ['escape' => false] );?>
				</li>
                 <li>
				<?php echo $this->Paginator->next('<span class="fa fa-angle-right" ></span>', ['escape' => false] ); ?>
				</li>





				</ul>
				
             </div>

<script src="moment.js"></script>
<script src="moment-timezone-with-data.js"></script>
<div class="ajax">
  <div class="parent_data">
<?php echo $this->Form->create('Hardware',array('url'=>['action' => 'hardwareslist'],'method'=>'POST', "class" => "longFieldsForm", "name" => "listForm", "id" => "mainform")); ?>

<!--  start content-table-inner -->
	<?php $user = $session->read("SESSION_ADMIN"); ?>



 <?php if(count($resultData)>0){
			$i = 1;
			foreach($resultData as $result):
 	  if(!$result['status']%2)$class = "alternate-row"; else $class = "";  ?>
        <!-- /.usercard -->

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alldata">
          <div class="white-box">
          <!-- Nav tabs -->
            <ul class="nav nav-tabs firstLISt" role="tablist">
              <li role="presentation" class="active"><a href="#ihome" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false"><span><i class="ti-home"></i></span></a></li>
              <li role="presentation" class="" style="display:none;"><a href="#iprofile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span><i class="ti-user"></i></span> </a></li>
              <li role="presentation" class="" style="display:none;"><a href="#imessages" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span><i class="ti-email"></i></span></a></li>
              <li role="presentation" class="" style="display:none;"><a href="#isettings" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="true"><span><i class="ti-settings"></i></span></a></li>
            </ul>
            <!-- Tab panes  substring($row->parent->category_name,35);  -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane ihome active" >
                 <ul class="list-group ">
			<li class="list-group-item list-group-item-danger 1"><b>Item :</b> 
			<?php $str = strip_tags($result['item']); echo substr($str,0,15).((strlen($str)>15)?"...":"");  ?></li>
			<li class="list-group-item list-group-item-success 2"><b>Unique Id :</b> <?php echo $result['unique_id']; ?></li>
			
			<li class="list-group-item list-group-item-info 3"><b>Alloted To:</b> 
			<?php $str = strip_tags($result['alloted_to']); 
		       $name= $this->General->getusername($str);
		        foreach($name as $v){
		        	echo substr($v,0,15).((strlen($v)>15)?"...":""); 
		          }
                ?>      
        </li>
			<li class="list-group-item list-group-item-warning 4"><b>Description :</b> 
			<?php $str = strip_tags($result['description']); echo substr($str,0,15).((strlen($str)>15)?"...":""); ?></li>
		

 <ul class="nav nav-tabs list-group-item-info " role="tablist">
              <li><?php
                         echo $this->Html->link(
		                  '<i class="fa fa-cog"></i>',
		                  array('controller'=>'hardwares','action'=>'edit','id'=>$result['id']),
		                  ['escape' => false,'class' => 'btn default btn-outline','title'=>'Edit','target'=>'_blank']
		                  );
                    ?></li>
						   <li>
                         <?php
                           echo $this->Html->link(
		                  '<i class="ti-close"></i>',
		                  array('controller'=>'hardwares','action'=>'delete','id'=>$result['id']),
		                  ['escape' => false,'class' => 'btn default btn-outline deleteprojectdata','title'=>'Delete']
		                  );
		                  ?>

                        </li>
                      
	                </ul>
	                
	            </ul>

            </div>
              <div role="tabpanel" class="tab-pane iprofile">
                <div class="col-md-6">
                  <h3>Lets check profile</h3>
                  <h4>you can use it with the small code</h4>
                </div>
                <div class="col-md-5 pull-right">
                  <p>Vulputate eget, arcu, fringilla vel, aliquet nec, daf adfd vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div role="tabpanel" class="tab-pane imessages">
                <div class="col-md-6">
                  <h3>Come on you have a lot message</h3>
                  <h4>you can use it with the small code</h4>
                </div>
                <div class="col-md-5 pull-right">
                  <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div role="tabpanel" class="tab-pane isettings">
                <div class="col-md-6">
                  <h3>Just do Settings</h3>
                  <h4>you can use it with the small code</h4>
                </div>
                <div class="col-md-5 pull-right">
                  <p>Vulputate eget, fringilla vel, aliquet nec, daf adfd vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            </div>
        </div>
         <?php $i++ ;
				endforeach; ?>
				<?php } else { ?>

				<?php
				}
			?>
         </div>
        <!-- /.usercard-->
      </div>
    


	<?php echo $this->Html->script(array('cbpFWTabs.js')) ?>
	<script src="../plugins/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../plugins/bower_components/custom-select/custom-select.min.js" type="text/javascript"></script>
	<script src="../plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
	<script src="js/jquery.slimscroll.js"></script>
	<!-- Magnific popup JavaScript -->

	<?php 
	echo  $this->Html->script(array('pdetail'));
	?>
	<script type="text/javascript">

	function veryfycheck()
	{
	alert("1) Either billing for this project is already added for this week."+'\n'+
	"2) Please verify all billing till previous week for this project and then reload this page again to add billing.");

	}

	(function() {

	[].slice.call( document.querySelectorAll( '.sttabs' ) ).forEach( function( el ) {
	new CBPFWTabs( el );
	});

	})();
	</script>




				
  <?php echo $this->Form->end(); ?>

<!--  end content-table-inner  -->