
<!--  start content-table-inner -->
	<div id="content-table-inner">
<!--	<form accept-charset="utf-8" id="UserAddForm" class="login" onsubmit="" method="post" action="buyingoffices/add/">-->
	<?php  echo $form->create('User',array('action'=>'change_profile','method'=>'POST','onsubmit' => '',"class"=>"login")); ?>
	<?php $session->flash(); ?>
	<table border="0" width="100%" cellpadding="0" cellspacing="0">
		<tr valign="top">
			<td width="75%">
	<!-- start id-form -->
	<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
		
		
		<tr>
			<th valign="top">User Name:</th>
			<td><?php
				 echo $form->input("username",array("type"=>"text","id"=>"crpass","class"=>"inp-form","label"=>false,"div"=>false));
            ?>    	
            </td>
			<tr>
			
		<tr>
			<th valign="top">Email:</th>
			<td><?php
				 echo $form->input("email",array("type"=>"text","id"=>"crpass","class"=>"inp-form","label"=>false,"div"=>false));
            ?>    	
            </td>
			

		<tr>
			<th>&nbsp;</th>
			<td valign="top">
			<?php echo $form->hidden("id");
			echo $form->submit('Save',array('class'=>"form-submit",'div'=>false))."&nbsp;&nbsp;&nbsp;"; 
			echo $form->button('Cancel',array('type'=>'button','class'=>"form-reset",'div'=>false,'onclick'=>"location.href='".BASE_URL."admin/users/dashboard'")); 
			?>
			</td>
			<td></td>
		</tr>
	</table>
	<!-- end id-form  -->

			</td>
			<td>
<!--  start related-activities -->
	<div id="related-activities">
	<?php $user = $session->read("SESSION_ADMIN"); ?>
		<!--  start related-act-top -->
		<div id="related-act-top">
		<?php echo $html->image(BASE_URL."images/forms/header_related_act.gif", array("alt"=>"Edit",'width'=>"271", 'height'=>"43")); ?>
		</div>
		<!-- end related-act-top -->
		
		<!--  start related-act-bottom -->
		<div id="related-act-bottom">
		
			<!--  start related-act-inner -->
			<div id="related-act-inner">				
				<div class="left"><a href=""><?php $html->image(BASE_URL."images/forms/icon_edit.gif", array("alt"=>"Edit",'width'=>"21",'height'=>"21"))?></a></div>
				<div class="right">
					<h5>Bo Management</h5>
          This section is used to Manage product management .
          <div class="lines-dotted-short"></div>
					<ul class="greyarrow">
  					<li>
            <?php 
            echo $html->link("Go To Listing",
            array('controller'=>'users','action'=>'dashboard')
            );	
            ?>
            </li> 
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<!-- end related-act-inner -->
			<div class="clear"></div>
		
		</div>
		<!-- end related-act-bottom -->
	
	</div>
	<!-- end related-activities -->
			</td>
		</tr>
	</table>
	<!-- end id-form  -->
	<div class="clear"></div>
	</div>
	<!--  end content-table-inner  -->