

<!-- start loginbox -->
<?php
	echo $this->Form->create('User', [ '/'=>'get_code','onsubmit' => '',"class"=>"login", 'type' => 'post','prefix'=>'admin']);

 ?>
	<div id="loginbox">

	<!--  start login-inner -->
	<div id="login-inner">
	<?php echo $this->Flash->render(); ?><br/><br/>
		<table border="0" cellpadding="0" cellspacing="0">

		<tr>
			<th>Email</th>
			<td><?php echo $this->Form->input("user_name",array("class"=>"login-inp","label"=>false,"div"=>false));
             ?></td>
		</tr>
		
		<tr>
			<th></th>
			<td valign="top">&nbsp;</td>
		</tr>
		<tr>
			<th></th>
			<td><?php echo $this->Form->submit('',array('class'=>"submit-login",'div'=>false)); ?>
			
			</td>
		</tr>
		<tr>
			<th></th>
			<td></td>
		</tr>
		<tr>
			<th></th>
		<td>
				<?php echo  $this->Html->link("Back to Login",
						['controller' => 'users', 'action' => 'login' , 'prefix' => 'admin',],
						['class'=>' forget_pass','title'=>'Login?']
						//array('controller'=>'users','action'=>'forgot_password'),
						//array('class'=>' forget_pass','title'=>'Forgot Password?')
				   	); ?>
			
		</tr>
		</table>
	</div>
 	<!--  end login-inner -->
	<div class="clear"></div>
 </div>
 <!--  end loginbox -->
<?php echo $this->Form->end();?>
