<?php  echo $this->Html->css(array('jquery_ui_datepicker')); ?>
<?php echo $this->Html->script(array('jquery-3','jquery-ui.min','jquery-ui-datepicker','jquery-ui-timepicker-addon','allajax','fancybox/source/jquery.fancybox','fancybox/source/jquery.fancybox','fancybox/source/jquery.fancybox.pack')); ?>
 <link href="../plugins/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" />


<script type="text/javascript">

    $(document).ready(function () {
        $(".credentialdetalself").fancybox({
            'type': 'iframe',
            'autoDimensions': false,
            'width': 700,
            'height': 550,
            'onStart': function () {
                jQuery("#fancybox-overlay").css({"position": "fixed"});
            }
        });
    });
</script>
<?php 
define('E_KEY', 'aaaaa7997b6d5fcd55f4b5c32611b87cd923e88837b63bf2941ef819dc8ca282');
function mc_encrypt($encrypt, $key){
    $encrypt = serialize($encrypt);
    $iv = mcrypt_create_iv(mcrypt_get_iv_size(MCRYPT_RIJNDAEL_256, MCRYPT_MODE_CBC), MCRYPT_DEV_URANDOM);
    $key = pack('H*', $key);
    $mac = hash_hmac('sha256', $encrypt, substr(bin2hex($key), -32));
    $passcrypt = mcrypt_encrypt(MCRYPT_RIJNDAEL_256, $key, $encrypt.$mac, MCRYPT_MODE_CBC, $iv);
    $encoded = base64_encode($passcrypt).'|'.base64_encode($iv);
    $encoded = str_replace('/', 'karan', $encoded);
	$encoded = str_replace('+', 'simer', $encoded);
	$encoded = str_replace('|', 'doad', $encoded);
    return $encoded;
}

?>
<!--  start content-table-inner -->
 <div class="col-sm-6">
    <div class="white-box">
	<?php $user = $session->read("SESSION_ADMIN");

	 ?>

<h2 class="font-bold text-success">Basic Information:</h2>
 <table class="tablesaw  table-hover table tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-8990" style="margin-top:10px;font-size:12px;" border="0" width="100%" cellpadding="0" cellspacing="0">
		
	<?php  if(count($resultData)>0){
				  $snl = 1;
				  foreach($resultData as $record):
				//  	pr($resultData);die();
				  	if(!$record['status']%2)$class = "alternate-row"; else $class = "";  ?>
				  	
                
          <tr>


			<th valign="top">Employee Code:</th>
			<td><?php echo $record['employee_code']; ?></td>
			<td></td>
		</tr>
		<tr>
			<th valign="top">Employee Name:</th>
			<td><?php echo $record['first_name']." ".$record['last_name']?></td>
		</tr>
		<tr>

			<th valign="top">Current Salary:</th>
			<td><?php 
			    $UserID = $record['id'];
			  
			   // $result = $general->getInfoFromAppraisal($UserID);
				$result = $this->General->getInfoFromAppraisal($UserID);
				$salary = (isset($result['appraised_amount'])) ? $result['appraised_amount'] : "0";
				echo $salary;  ?>
			</td>
		</tr>
		<tr>
			<th valign="top">Designation:</th>
			<td><?php 
				$designation = (isset($result['new_designaiton'])) ? $result['new_designaiton'] : "None";
				echo $designation;  ?>
			</td>
		</tr>
		<tr>
			<th valign="top">Date of Joining:</th>
			<td><?php echo date(DATE_FORMAT, strtotime($record['doj']));?></td>
		</tr>
		<tr>
			<th valign="top">Qualification:</th>
			<td><?php echo $record['qualification']?></td>
		</tr>
		<?php $snl++ ;
				endforeach; ?>
				<?php } else { ?>
                        <tr>
                            <td colspan="10" class="no_records_found">No records found</td>
                        </tr>
			<?php } ?>
			        
		</tr>

		<?php if(!empty($record['skills'])) { ?>
		<tr>
			<th valign="top">Skills:</th>
			<td><?php echo $record['skills']?></td>
		</tr>
		<?php } ?>
		<?php if(!empty($record['experience'])) { ?>
		<tr>
			<th valign="top">Experience:</th>
			<td><?php echo $record['experience']?></td>
		</tr>
		<?php } ?>
		<?php if(!empty($record['responsibility'])) { ?>
		<tr>
			<th valign="top">Responsibilities:</th>
			<td><?php echo $record['responsibility']?></td>
		</tr>
		<?php } ?>
		<?php if(!empty($record['previous_employment'])) { ?>
		<tr>
			<th valign="top">Previous Employment</th>
			<td><?php echo $record['previous_employment']?></td>
		</tr>
		<?php } ?>
		<?php if(!empty($record['dor']) && $record['dor'] != "0000-00-00"){ ?>
		<tr>
			<th valign="top">Date of Relieving:</th>
			<td><?php echo date(DATE_FORMAT, strtotime($record['dor']));?></td>
		</tr>
		<?php } ?>	
		<tr>
			<th valign="top" colspan="2" class="dashline">Personal Information:</th>
		</tr>
		<tr>
			<th valign="top">Username:</th>
			<td><?php echo $record['username']?></td>
		</tr>

		<?php
			//pr($resultData);die;

		 //$resultData = $resultData;  
				$IDs = []; //pr($resultData); 
		//echo "<pre>";print_r($resultData);exit;
				(!empty($record['gmail'])) ? $IDs[]=$record['gmail']:''; 
				(!empty($record['skype'])) ? $IDs[]=$record['skype']:'';
				(!empty($record['dropbox'])) ? $IDs[]=$record['dropbox']:'';
				//pr($record['gmail']); die;
($IDs)? $resData = $this->General->getCredentialsforUser($IDs): $resData = []; ;
			 //pr($resData);die;
			
			 if(count($resData)>0){
			 
			 foreach($resData as $v2){
			 	//pr($resData); die;$resultData[0]['status']==1)
			 	 if($v2['type']=="gmail"){
                $gmailVal = $v2['username']; 
            }elseif($v2['type']=="skype"){
              $skypeVal = $v2['username']; 
              }elseif($v2['type']=="dropbox"){
              	 $dropboxVal = $v2['username']; 
              	}
    
	
	 }
	
			} else {
				$gmailVal ="";
				 $skypeVal ="";
				$dropboxVal ="";	
			} 
	?>
		<?php 	if(!empty($cyberoamVal)){ ?>
		<tr>
			<th valign="top">Cyberoam:</th>
			<td><?php //echo $cyberoamVal; ?></td>
		</tr>
		<?php } ?>
			<?php 	if(!empty($skypeVal)){ ?>
		<tr>
			<th valign="top">Skype:</th>
			<td><?php echo $skypeVal; ?></td>
		</tr>
		<?php } ?>
		<?php 	if(!empty($dropboxVal)){ ?>
		<tr>
			<th valign="top">Dropbox:</th>
			<td><?php echo $dropboxVal; ?></td>
		</tr>
		<?php } ?>
		<tr>
			<th valign="top">Father&#39;s Name:</th>
			<td><?php echo $record['father_name']?></td>
		</tr>
		<tr>
			<th valign="top">Mother&#39;s Name:</th>
			<td><?php echo $record['mother_name']?></td>
		</tr>
		<?php if(!empty($record['phone'])) { ?>
		<tr>
			<th valign="top">Phone Number:</th>
			<td><?php echo $record['phone']?></td>
		</tr>
		<?php } ?>
		<tr>
			<th valign="top">Date of Birth:</th>
			<td><?php echo date(DATE_FORMAT, strtotime($record['dob'])); ?></td>
		</tr>
		<?php if(!empty($record['place_of_birth'])) { ?>
		<tr>
			<th valign="top">Place of Birth:</th>
			<td><?php echo $record['place_of_birth']?></td>
		</tr>
		<?php } ?>
		<tr>
			<th valign="top">Full Address:</th>
			<td><?php echo $record['full_address']?></td>
		</tr>
		<tr>
			<th valign="top">Personal Email:</th>
			<td><?php echo $record['personal_email']?></td>
		</tr>
		<tr>
			<th valign="top">Gender:</th>
			<td><?php echo $record['sex']?></td>
		</tr>
		<?php if(!empty($record['urban_rural'])) { ?>
		<tr>
			<th valign="top">Urban/Rural:</th>
			<td><?php echo $record['urban_rural']?></td>
		</tr>
		<?php } ?>
		<tr>
			<th valign="top">Marital Status:</th>
			<td><?php echo ucwords($record['marital_status']); ?></td>
		</tr>
		<tr>
			<th valign="top">Caste:</th>
			<td><?php echo ucwords($record['caste']); ?></td>
		</tr>
			<tr>
			<th valign="top">Religion:</th>
			<td><?php echo ucwords($record['religion']);?></td>
		</tr>
			<tr>
			<th valign="top">Languages Known:</th>
			<td><?php echo ucwords($record['language_known']); ?></td>
		</tr>
		<?php if(!empty($record['notes'])) { ?>
		<tr>
			<th valign="top">Notes:</th>
			<td><?php echo $record['notes']?></td>
		</tr>
		<?php } ?>
		<?php if(!empty($record['document'])) { ?>
		<tr>
			<th valign="top">Document:</th>
			<td><?php echo $record['document']?></td>
		</tr>
		<?php } ?>
	</table>
	<!-- end id-form  -->
</div></div>


 <div class="col-sm-6">
    <div class="white-box">
         <div class="form-group">
<style>
.m-l-100 > img {
    height: 180px;
    margin-left: 155px;
    width: 214px;
}
</style>
	<?php
        
	$destination=realpath('../../webroot/img/employee_image'). DS;
	$userId = $user[0];
	$profileImage = $common->file_exists_in_directory($destination,"/^".$userId."_/i");
	?><span class="m-l-100">
				<?php if(!empty($record['image_url'])){
					echo $this->Html->image(BASE_URL."img/employee_image/".$record['image_url'] ,array("title" => 'Profile Pic',"alt" => 'Profile Pic',"id"=>"profileImg"));
				}else{
					echo $this->Html->image(BASE_URL."img/employee_image/no_image.png",array("title" => 'Profile Pic',"alt" => 'Profile Pic',"id"=>"profileImg","class"=>""));
				}
				?></span>
				<?php
			?>

         
          <div class="row el-element-overlay m-b-40">
   <div class="sttabs tabs-style-linebox erw">
                    <nav class="lis">
                     <h4 class="media-heading"></h4>
                    <ul >
                 <li> <?php echo $this->Html->link("My Appraisals", 
					array('controller'=>'appraisals','action'=>'userappraisallist','prefix'=>'appraisals'),
					array('class'=>'')
					);  ?>
            </li> 
           <li><?php
			             $data = $user[0];
                         $id = mc_encrypt($data, ENCRYPTION_KEY);
						echo $this->Html->link("My Credentials",
						array('controller'=>'employees','action'=>'credentialself',$id,'prefix'=>'employees'),
						array('class'=>'popup_window','title'=>'Credential Detail')
					);
						?></li>

              
                 </ul>
                    </nav>
               </div><!-- /tabs -->
            
   </div>   
 </div>
</div>
</div>










<!--  end content-table-inner  -->

		<script src="<?php echo BASE_URL; ?>plugins/bower_components/tablesaw-master/dist/tablesaw.js"></script>
<script src="<?php echo BASE_URL; ?>plugins/bower_components/tablesaw-master/dist/tablesaw-init.js"></script>

