			
      <html>

				<table>
				<tr>
					<th width='10%' style='border: 1px solid #D2D2D2;padding: 10px 0px 10px 10px;'>ID</th>
					<th width='40%' style='border: 1px solid #D2D2D2;padding: 10px 0px 10px 10px;'>User Name</th>
					<th width='25%' style='border: 1px solid #D2D2D2;padding: 10px 0px 10px 10px;'>Email</th>
					<th width='25%' style='border: 1px solid #D2D2D2;padding: 10px 0px 10px 10px;'>Password</th>
				</tr>
				<?php
				foreach($content as $val){

		 ?>
				<tr>

				<td width='10%' style='border: 1px solid #D2D2D2;padding: 10px 0px 10px 10px;'><?php echo $val['id'];?> </td>

			<td width='10%' style='border: 1px solid #D2D2D2;padding: 10px 0px 10px 10px;'><?php echo $val['name']; ?>  </td>

<td width='10%' style='border: 1px solid #D2D2D2;padding: 10px 0px 10px 10px;'><?php echo $val['email'];  ?> </td>

	<td width='10%' style='border: 1px solid #D2D2D2;padding: 10px 0px 10px 10px;'><?php echo $val['pass']; ?>  </td>	
				</tr>	
				<?php
				}
				?>
				 
				</table>
				</html>