<script type="text/javascript">
	$(document).ready(function() 
	{
		//fancybox settings
		$(".view_template").fancybox({
				//'titlePosition'	: 'outside',
				'type': 'iframe',
				'autoDimensions' : false,
				'width' :	960, 
				'height' :	1000, 
				'onStart': function(){
     		 	 jQuery("#fancybox-overlay").css({"position":"fixed"});
   			}
		
			});
	});
</script>
<div style='height:auto' width="100%" >
<?php 

pr($data);die;
echo $session->flash(); ?>
<?php
$tempArray = array();
pr($resultData); die;
foreach($resultData as $res){
	$tempArray[$res['LearningCenter']['skill'] ] [$res['LearningCenter']['id'] ]= $res['LearningCenter']['title']."-&-".$res['LearningCenter']['modified']."-&-".$res['User']['first_name']." ".$res['User']['last_name']; 
	//$tempArray[$res['LearningCenter']['skill'] ] [$res['LearningCenter']['id']."modified" ]= $res['LearningCenter']['modified'];
}
//pr($tempArray); die;
foreach($tempArray as $k=>$r){
	$temAry[$k] = count($r);
} 
foreach($tempArray as $t){
	$maxval = max($temAry);
	$keyy = array_search($maxval, $temAry);
	$newResAry[$keyy]  = $tempArray[$keyy];
	unset($temAry[$keyy]);
}	
	$options=$general->getSkills();
	$index = 1;
	
		foreach($newResAry as $key=>$value){?>
			<div class="sitemap">
			<?php echo '<div style="color:#800000"><b>'.$options[$key].'</b></div>';
				foreach($value as $key=>$val){
					$vall =  explode('-&-',$val);
					$modified_date = $vall[1];
					$userName = $vall[2];
					$diff = $general->expiredTime($modified_date); 
					$hours = $diff['hours'];
					$setClass = ($hours>48) ? "color:#2554C7" : "color:red" ;
					echo $html->link($vall[0],
						array('controller'=>'learning_centers','action'=>'view',$key),
						array('class'=>'view_template view_temp','title'=>"Contributed By: ".$userName,'style'=>$setClass)
					   )."<br/>";
				}
			?>
			</div>
		<?php
		if($index%3 == 0)
			{
			echo "<div style='clear:both;' ></div> ";
			}
			$index++;
		}
?>
</div>
<?php echo $form->end(); ?>
<!--  end content-table-inner  -->