
	 <div class="col-sm-6">
            <div class="white-box">


	<?php echo  $this->Form->create('Generic',array('url' => ['action' => 'admin_setting'],'method'=>'POST','onsubmit' => '',"class"=>"login",'enctype'=>"multipart/form-data")); ?>
	<?php //echo $session->flash(); ?>
	  <div class="form-group">
              <label for="exampleInputpwd1">Tag1:</label>
                   <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
 <?php   echo $this->Form->input("tag1",array("type"=>"text","class"=>"form-control","label"=>false,"div"=>false,"value"=>$resultData['tag1'])); 
			echo " ";
            ?>
</div><span style='color:red;' class="pull-right"> Greater Than  </span></div>



 <div class="form-group">
              <label for="exampleInputpwd1">Tag2:</label>
                   <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
     <?php
				  echo $this->Form->input("tag2",array("type"=>"text","class"=>"form-control","label"=>false,"div"=>false,"value"=>$resultData['tag2']));
				 echo "";
            ?>
</div><span style='color:red;' class="pull-right"> Range(min,max) </span>
</div>



	 <div class="form-group">
              <label for="exampleInputpwd1">Tag3:</label>
                   <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
     <?php
				    echo $this->Form->input("tag3",array("type"=>"text","class"=>"form-control","label"=>false,"div"=>false,"value"=>$resultData['tag3']));
				  echo "";
            ?> 

</div><span style='color:red;' class="pull-right"> Range(min,max) </span>
</div>
            <div class="form-group">
              <label for="exampleInputpwd1">Tag4:</label>
                   <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
           <?php
				  echo $this->Form->input("tag4",array("type"=>"text","class"=>"form-control","label"=>false,"div"=>false,"value"=>$resultData['tag4']));
				echo " ";
            ?>
</div><span style='color:red;' class="pull-right"> Range (min,max) </span></div>



             <div class="form-group">
              <label for="exampleInputpwd1">Tag5:</label>
                   <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
         <?php
				  echo $this->Form->input("tag5",array("type"=>"text","class"=>"form-control","label"=>false,"div"=>false,"value"=>$resultData['tag5']));
				 echo "";
            ?>
</div><span style='color:red;' class="pull-right"> Less Than </span>
</div>



<div class="form-group">
   <button type="submit" class="btn btn-success">Submit</button>
 <?php 
  echo $this->Html->link("Reset",  ['controller'=>'generics','action'=>'admin_setting','prefix' => 'generics'],['class'=>"btn btn-inverse waves-effect waves-light"]);  
$this->Form->button("Reset",array('type'=>'button','class'=>"btn btn-inverse waves-effect waves-light",'div'=>false,'onclick'=>$this->Url->build('/generics/admin_setting', true)));?>

 </div>
 </div>
</div>

<div class="col-sm-6">
   </div>
     <!-- /.right-sidebar -->
</body>
</html>
