<script type="text/javascript" src="<?php echo BASE_URL; ?>js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){ 
		$('.tablesorter').tablesorter({dateFormat: "uk"});
		
		$(".viewPaydetails").fancybox({
					'type': 'iframe',
					'autoDimensions' : false,
					'width' :	650, 
					'height' :	650, 
					'onStart': function(){
					 jQuery("#fancybox-overlay").css({"position":"fixed"});
				}
			});
	}); 
</script>


<!--  start content-table-inner -->
	<div id="content-table-inner">
	<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr valign="top">
	<td>
	<!--  start table-content  -->
			<div id="table-content">
			<table border="0" width="48%" cellpadding="0" cellspacing="0" id="product-table" class="tablesorter" align="left">
			<caption> <h1> Technologies </h1> </br> </caption>
				<thead>
					<th class="table-header-repeat line-left minwidth-1" width="5%"><a href="#A">SL.</a></th>	  
					<th class="table-header-repeat line-left minwidth-1" width="65%"><a href="#A">Technology</a></th>
					<th class="table-header-repeat line-left minwidth-1" width="15%"><a href="#A">Count</a></th>
					<th class="table-header-repeat line-left minwidth-1" width="15%"><a href="#A">Options</a></th>
				</thead>
				<tbody>
				
					<?php $tag2 = explode(",",$tagAry['tag2']); 
					$i = 1; //to show serial number.
					
					$tag3 = explode(",",$tagAry['tag3']); 
					$tag4 = explode(",",$tagAry['tag4']); 
					
					foreach($tagAry as $key){
					//pr($keyowrdAry);die;
					//pr($tagAry);die;
					$keyValAry = explode("*&*",$key);
					//pr($keyValAry);die;
					$keyword = $keyValAry[0];
					//pr($keyword);die;
					$KeyCount = $keyValAry[0];
					//pr($KeyCount);die;
					?>
					<tr>
					<td class="s1" width="5%"><a href="#A"><?php echo $i++ ;?></a></td>	  
					<td class="s1" width="65%"><a href="#A"><?php echo $keyword; ?></a></td>
					<td class="s1" width="15%"><a href="#A"><?php echo $KeyCount;?></a></td>
					<td class="s1" width="25%"><a href="#A">
					<?php 	//echo $this->Html->link("",
							//	['controller'=>'billings','action'=>'quickadd','prefix'=>'generics'],['id'=>$KeyCount],
							//	array('class'=>'info-tooltip billingquickadd','title'=>'Quick Links')
							//);						
							echo $this->Html->link("",
								"http://portfolioindepth.com/?keyword=" . $keyword,
								array('class'=>'info-tooltip go','title'=>'Go to Detail Portfolio','target'=>'_blank')
						
							);
							//echo $keyword;die;	
					//echo "hioe";die;
					?>
					</td>
					</tr>
				    <?php } ?>
				</tbody>
				</table>
				<!--  end table................................... --> 
				
				<!--  Domain starts.......................... --> 
				<table border="0" width="48%" cellpadding="0" cellspacing="0" id="product-table" class="tablesorter" align="right">
				<caption> <h1> Domains </h1> </br> </caption>
				<thead>
					<th class="table-header-repeat line-left minwidth-1" width="1%"><a href="#A">SL.</a></th>	  
					<th class="table-header-repeat line-left minwidth-1" width="15%"><a href="#A">Domain</a></th>
					<th class="table-header-repeat line-left minwidth-1" width="15%"><a href="#A">Count</a></th>
					<th class="table-header-repeat line-left minwidth-1" width="15%"><a href="#A">Options</a></th>
				</thead>
				<tbody>
				
					<?php $tag2 = explode(",",$tagAry['tag2']); 
					$i = 1; //to show serial number.
					
					foreach($tagAry as $dom){
					$domValAry = explode("*&*",$dom);
					$domain = $domValAry[0];
					$domCount = $domValAry[0];
					?>
					<tr>
					<td class="s1" width="1%"><a href="#A"><?php echo $i++ ;?></a></td>	  
					<td class="s1" width="15%"><a href="#A"><?php echo $domain; ?></a></td>
					<td class="s1" width="15%"><a href="#A"><?php echo $domCount;?></a></td>
					<td class="s1" width="20%"><a href="#A">
					<?php 	//echo $this->Html->link("",
							//	array('controller'=>'billings','action'=>'quickadd','prefix'=>'generics','id'=>$KeyCount),
						//		array('class'=>'info-tooltip billingquickadd','title'=>'Quick Links')
						//	);
							


							echo $this->Html->link("",
								"http://portfolioindepth.com/?keyword=" . $domain,
								array('class'=>'info-tooltip go','title'=>'Go to Detail Portfolio','target'=>'_blank')
							);
					?>
					</td>
					</tr>
				    <?php } ?>
				</tbody>
				</table>
				<!--  end table................................... --> 
				
				
					<div class="clear"></div>
	</td>
	<td>
</td>
</tr>
</table>
			</div>
			<!--  end content-table  -->
	<div class="clear"></div>
</div>



<div id="content-table-inner">
	<div id="tags" style="width:580px;height:auto;float:left;">
	<center><h1> Keywords </h1></center><br/><br/>
		<?php $tag2 = explode(",",$tagAry['tag2']); 
			  $tag3 = explode(",",$tagAry['tag3']); 
			  $tag4 = explode(",",$tagAry['tag4']); 
		foreach($tagAry as $key){
			 $keyValAry = explode("*&*",$key);
			 $keyword = $keyValAry[0];
			 $KeyCount = $keyValAry[0];
			if($KeyCount > $tagAry['tag1']) {
		?>
        <span class="tag1"><a href="http://portfolioindepth.com/?keyword=<?php echo $keyword ?>" rel="20" target="_blank"><?php echo $keyword; ?></a></span>
        <?php }elseif($KeyCount > $tag2['0'] and $KeyCount < $tag2['1'] ){ ?>
		 <span class="tag2"><a href="http://portfolioindepth.com/?keyword=<?php echo $keyword ?>" rel="15" target="_blank"><?php echo $keyword; ?></a></span>
		<?php }elseif($KeyCount > $tag3['0'] and $KeyCount < $tag3['1']){ ?>
		<span class="tag3"><a href="http://portfolioindepth.com/?keyword=<?php echo $keyword ?>" rel="10" target="_blank"><?php echo $keyword; ?></a></span>
		<?php }elseif($KeyCount > $tag4['0'] and $KeyCount < $tag4['1']){?>
			<span class="tag4"><a href="http://portfolioindepth.com/?keyword=<?php echo $keyword ?>" rel="5" target="_blank"><?php echo $keyword; ?></a></span>
		<?php }elseif( $KeyCount < $tagAry['tag5']){ ?>
			<span class="tag5"><a href="http://portfolioindepth.com/?keyword=<?php echo $keyword ?>" rel="1" target="_blank"><?php echo $keyword; ?></a></span>
		<?php }else{ ?>
		<span class="tag6"><a href="http://portfolioindepth.com/?keyword=<?php echo $keyword ?>" rel="1" target="_blank"><?php echo $keyword; ?></a></span>
		<?php }} ?>
		</ul>
	</div>
	<div id="tags1" style="width:580px;height:auto;float:right">
	<center><h1> Domains </h1></center><br/><br/>
		<?php //$tag2 = explode(",",$tagAry['tag2']); 
			 // $tag3 = explode(",",$tagAry['tag3']); 
			 // $tag4 = explode(",",$tagAry['tag4']); 
		foreach($tagAry as $dom){
			 $domValAry = explode("*&*",$dom);
			 $domain = $domValAry[0];
			 $domCount = $domValAry[0];
			if($domCount > $tagAry['tag1']) {
		?>
        <span class="tag1"><a href="http://portfolioindepth.com/?keyword=<?php echo $domain ?>" rel="20" target="_blank"><?php echo $domain; ?></a></span>
        <?php }elseif($domCount > $tag2['0'] and $domCount < $tag2['1'] ){ ?>
		 <span class="tag2"><a href="http://portfolioindepth.com/?keyword=<?php echo $domain ?>" rel="15" target="_blank"><?php echo $domain; ?></a></span>
		<?php }elseif($domCount > $tag3['0'] and $domCount < $tag3['1']){ ?>
		<span class="tag3"><a href="http://portfolioindepth.com/?keyword=<?php echo $domain ?>" rel="10" target="_blank"><?php echo $domain; ?></a></span>
		<?php }elseif($domCount > $tag4['0'] and $domCount < $tag4['1']){?>
			<span class="tag4"><a href="http://portfolioindepth.com/?keyword=<?php echo $domain ?>" rel="5" target="_blank"><?php echo $domain; ?></a></span>
		<?php }elseif( $domCount < $tagAry['tag5']){ ?>
			<span class="tag5"><a href="http://portfolioindepth.com/?keyword=<?php echo $domain ?>" rel="1" target="_blank"><?php echo $domain; ?></a></span>
		<?php }else{ ?>
		<span class="tag6"><a href="http://portfolioindepth.com/?keyword=<?php echo $domain ?>" rel="1" target="_blank"><?php echo $domain; ?></a></span>
		<?php }} ?>
		</ul>
	</div>
</div>