<?php
header ("Expires: Mon, 28 Oct 2008 05:00:00 GMT");
header ("Last-Modified: " . gmdate("D,d M YH:i:s") . " GMT");
header ("Cache-Control: no-cache, must-revalidate");
header ("Pragma: no-cache");
header ("Content-type: application/vnd.ms-excel");
header ("Content-Disposition: attachment; filename=\"$filename.xls" );
header ("Content-Description: Generated Report" );
?>
 <table style="margin-top:15px;font-size:12px;" border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
            <tr>
                <th class="userattend" width="22%">Name</th>
                <th class="userattend" width="17%">PAN No.</th>
                <th class="userattend" width="16%">Account No.</th>
                <th class="userattend" width="15%">Bank Name</th>
                <th class="userattend" width="23%">Bank Address</th>
                <th class="userattend" width="19%">IFSC</th>
                <th class="userattend" width="23%">Current Salary</th>
            </tr>
			<?php //printing data
	foreach($crData as $val) { 
		
	//$bgclr  = $val['Credential']['status']  ? '#ffffff' : '#ff6544'; //if status is deactivated then red.
	?>
		<tr>
		<td  align="right"><?php echo $val['first_name']." ".$val['last_name'] ?></td>
		<td align="right"><?php echo $val['pan'] ?></td>
		<td  align="right"><?php echo $val['account_number'] ?></td>	
		<td  align="right"><?php echo $val['bankName'] ?></td>
		<td  align="right"><?php echo $val['branch'] ?></td>
		<td  align="right"><?php echo $val['ifsc'] ?></td>
		<td  align="right"><?php echo $val['0']['salary'] ?></td>
		</tr>
	<?php
	}//end for
	?>
	</tr>		
</table>