<style>
#product-table td {
    border: 1px solid #d2d2d2;
    font-size: 14px;
    padding: 10px 0 10px 4px;
}
/*text area*/
p#comment{ height: 100px; width: 27px; 
                  max-width: 125px; min-width: 402px; 
                  margin-left: 15px; overflow: auto; 
				  background: white none repeat scroll 0 0;
    border: medium none;	
                 }
p#comment:focus{ outline: none; }

/*bottom Of Textarea*/
.downOfTextarea       { width: 835px; margin-left: 15px; 
                        height: 30px; 
                        margin-top: -25px; z-index: 1; 
                        line-height: 30px; position: relative; 
                        border-bottom-left-radius:5px; 
                        -moz-border-bottom-left-radius:5px; 
                        -webkit-border-bottom-left-radius:5px;
background: white none repeat scroll 0 0;
    border: medium none;						
                        border-bottom-right-radius:5px; 
                        -moz-border-bottom-right-radius:5px; 
                        -webkit-border-bottom-right-radius:5px; }
.newCommentTip         { margin-left: 7px; font-family: calibri, arial, tahoma; }
button {
    border: 0;
    padding: 0;
    display: inline;
    background: none;
    text-decoration: none;
    color: blue;
}
button:hover {
    cursor: pointer;
}

div.searching_div {
	padding:20px;
	line-height:28px;
}
span:hover{
	background: #7D7D7D;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".Url").fancybox({
            'type': 'iframe',
            'autoDimensions': false,
            'width': 1400,
            'height': 650,
            'onStart': function () {
                jQuery("#fancybox-overlay").css({"position": "fixed"});
            }
        });
    });
</script>		
<?php   
                extract($_POST);

                 //set POST variables
					//$url = "".BASE_URL."../erpcommon/admin/services/index"; 
					//$url = 'http://drawtopic.com/commonerp/admin/services/index';	
                    $url = 'http://localhost/office/erpcommon/admin/services/index';
                        $fields = array(
					    	'auth_key' => 123,
					    	'method' => 'tagCount'
				        );
                        $fields_string="";
                            //url-ify the data for the POST
                foreach($fields as $key=>$value) {
				$fields_string .= $key.'='.$value.'&'; }
                rtrim($fields_string, '&');
                //open connection
                $ch = curl_init($url);
                //set the url, number of POST vars, POST data
                curl_setopt($ch,CURLOPT_URL, $url);
                curl_setopt($ch,CURLOPT_POST, count($fields));
                curl_setopt($ch,CURLOPT_POSTFIELDS, $fields_string);
				curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
                //execute post
                $server_output = curl_exec ($ch);

                curl_close ($ch);
                  $result = $server_output;
				  $result= json_decode($result,true);
				  
				
			
	?>
	<?php 

echo $this->Form->create('StaticPages',array('action'=>'','type' => 'POST')); 
$auth_key = "123";
?>
    <table border="0" cellspacing="0" cellpadding="4" border="0" align="center" class="top-search" style="margin-left:59px;">
      <tr>
        <td width="14%">
             <b>Search Keyword:</b>
	         <input name="name" type="text"  class="top-search-inp" style="width:200px;$display1" />
             <input name="auth_key" type="hidden" value="<?php echo $auth_key; ?>" />
             <input name="method" type="hidden" value="doc" />
        </td>
        <td width="40%"><br/>
			 <input type="submit" value="Submit" name="Submit" class="form-search" >
		  		<?php
					echo $form->button("Reset",array('type'=>'button','class'=>"form-reset",'div'=>false,'onclick'=>"location.href='".BASE_URL."admin/static_pages/sampledocument'"));				
				?>
        </td>	
      </tr>
	  </table>
	  <?php
echo $form->end(); ?>
<br><br>
<div class="searching_div">
    <?php 
		
	     $tag1 = $tagArry[0]['Setting']['value'];
         $tag2 = explode(",",$tagArry[1]['Setting']['value']); 
         $tag3 = explode(",",$tagArry[2]['Setting']['value']); 
         $tag4 = explode(",",$tagArry[3]['Setting']['value']); 
		 $tag5 = $tagArry[4]['Setting']['value'];

	foreach($result as $value=>$count){	
		  if($count > $tag1) {
		?>
		  <span class="tag1"><a href= "<?php echo BASE_URL ;?>admin/static_pages/sampledocument?tagCloud=<?php echo $value;?>" rel="20"><?php echo $value; ?></a></span>
        <?php } elseif($count > $tag2['0'] and $count < $tag2['1'] ){ ?>
		 <span class="tag2"><a href="<?php echo BASE_URL ;?>admin/static_pages/sampledocument?tagCloud=<?php echo $value;?>" rel="15"><?php echo $value;?></a></span>
		<?php }elseif($count > $tag3['0'] and $count < $tag3['1']){ ?>
		<span class="tag3"><a href="<?php echo BASE_URL ;?>admin/static_pages/sampledocument?tagCloud=<?php echo $value;?>" rel="10"><?php echo $value; ?></a></span>
		<?php }elseif($count > $tag4['0'] and $count < $tag4['1']){?>
			<span class="tag4"><a href="<?php echo BASE_URL ;?>admin/static_pages/sampledocument?tagCloud=<?php echo $value;?>" rel="5"><?php echo $value; ?></a></span>
		<?php }elseif( $count < $tag5){ ?>
			<span class="tag5"><a href="<?php echo BASE_URL ;?>admin/static_pages/sampledocument?tagCloud=<?php echo $value;?>" rel="1"><?php echo $value; ?></a></span>
		<?php }else{ ?>
		<span class="tag6"><a href="<?php echo BASE_URL ;?>admin/static_pages/sampledocument?tagCloud=<?php echo $value;?>" rel="1"><?php echo $value; ?></a></span>
		<?php }
	}
?>
</div>
	<br/><br>
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
  <tr>
        <th class="table-header-repeat line-left "  width="5%"><a href="#">S No.</a></th>
		<th class="table-header-repeat line-left "  width="26%"><a href="#">Document Name</a></th>
		<th class="table-header-repeat line-left "  width="31%"><a href="#">Document URL</a></th>		
		<th class="table-header-repeat line-left "  width="32%"><a href="#">Description</a></th>
  </tr>
        <?php 		  
		  if($_GET['tagCloud']){
						$name = $tagCloud = $_GET['tagCloud']; 
						 extract($_POST);
                 //set POST variables
                    //$url = "".BASE_URL."../erpcommon/admin/services/index";  
				//$url = 'http://drawtopic.com/commonerp/admin/services/index';
					$url = 'http://localhost/office/erpcommon/admin/services/index';
					   $fields = array(
					     	'name' => $name,
					    	'auth_key' => 123,
					    	'method' => "doc"
				        );						
                        $fields_string="";
                            //url-ify the data for the POST
                foreach($fields as $key=>$value) {
				$fields_string .= $key.'='.$value.'&'; }
                rtrim($fields_string, '&');
                //open connection
                $ch = curl_init($url);
                //set the url, number of POST vars, POST data
                curl_setopt($ch,CURLOPT_URL, $url);
                curl_setopt($ch,CURLOPT_POST, count($fields));
                curl_setopt($ch,CURLOPT_POSTFIELDS, $fields_string);
				curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
                //execute post
                $server_output = curl_exec ($ch);
                curl_close ($ch);
                   $result = $server_output;
					$final= json_decode($result,true);
					$counter=1;
					if(!empty($final)){
						$sesionForRole = $this->Session->read();					
						$sesionForRole=$sesionForRole['SESSION_ADMIN'][2];
						$SinglesesionForRole = explode(",",$sesionForRole);
						//echo "<pre>";
						//print_r($final);
					foreach($final as $data){
						if(array_search($data['documents']['role'],$SinglesesionForRole)){
					?>
						<tr>
						<td><?php echo $counter++; ?></td>
						<td><?php echo $data['documents']['name']; ?></td>
						<?php $myStr=$data['documents']['url'];
                            $resultUrl = substr($myStr, 0, 7);
                            $resultUrl1= substr($myStr, 0, 8);
                               if($resultUrl == 'http://'){ ?>
                               <td>  <a href="<?php echo $data['documents']['url'];?>" class="Url" ><?php echo  $data['documents']['url'];?></a></td>
                                 <?php 
                                    }else if($resultUrl1 == 'https://'){
                                  ?>
                               <td>  <a href="<?php echo $data['documents']['url'];?>" target="_blank"><?php echo  $data['documents']['url'];?></a> </td>
                                 <?php
                                    } else {
                                 ?>
                               <td>  <a href="<?php echo "http://".$data['documents']['url'];?>" class="Url"><?php echo  $data['documents']['url'];?></a></td>
                                 <?php
                                    }
                                 ?>			
						
						<td><p id="comment"><?php 
						       echo $description= $data['documents']['description'];
					 ?></p></td>
						</tr>
				<?php 		
					}
					}
					}else{ ?>
					<tr>
					<td colspan="10" class="no_records_found">No records found</td>
		</tr>
					<?php 	
					}
			  } ?>
			  <?php 		   
            if(isset($_POST['name'])){
			  if($_POST['method']=="doc"){
                extract($_POST);

                 //set POST variables
                  //  $url = 'http://drawtopic.com/commonerp/admin/services/index';
                   $url = 'http://localhost/office/erpcommon/admin/services/index';
					   $fields = array(
					     	'name' => urlencode($name),
					    	'auth_key' => 123,
					    	'method' => "doc"
				        );
						
                        $fields_string="";
                            //url-ify the data for the POST
                foreach($fields as $key=>$value) {
				$fields_string .= $key.'='.$value.'&'; }
                rtrim($fields_string, '&');
                //open connection
                $ch = curl_init($url);
                //set the url, number of POST vars, POST data
                curl_setopt($ch,CURLOPT_URL, $url);
                curl_setopt($ch,CURLOPT_POST, count($fields));
                curl_setopt($ch,CURLOPT_POSTFIELDS, $fields_string);
				curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
                //execute post
                $server_output = curl_exec ($ch);

                curl_close ($ch);
                   $result = $server_output;
					$final= json_decode($result,true);
					$counter=1;
					if(!empty($final)){
						$sesionForRole = $this->Session->read();					
						$sesionForRole=$sesionForRole['SESSION_ADMIN'][2];
						$SinglesesionForRole = explode(",",$sesionForRole);
					foreach($final as $data){
						if(array_search($data['documents']['role'],$SinglesesionForRole)){
					?>
						<tr>
						<td><?php echo $counter++; ?></td>
						<td><?php echo $data['documents']['name']; ?></td>
						<?php $myStr=$data['documents']['url'];
                            $resultUrl = substr($myStr, 0, 7);
                            $resultUrl1= substr($myStr, 0, 8);
                               if($resultUrl == 'http://'){ ?>
                               <td>  <a href="<?php echo $data['documents']['url'];?>" class="Url" ><?php echo  $data['documents']['url'];?></a></td>
                                 <?php 
                                    }else if($resultUrl1 == 'https://'){
                                  ?>
                               <td>  <a href="<?php echo $data['documents']['url'];?>" target="_blank"><?php echo  $data['documents']['url'];?></a> </td>
                                 <?php
                                    } else {
                                 ?>
                               <td>  <a href="<?php echo "http://".$data['documents']['url'];?>" class="Url"><?php echo  $data['documents']['url'];?></a></td>
                                 <?php
                                    }
                                 ?>			
						
						<td><p id="comment"><?php 
						       echo $description= $data['documents']['description'];
					 ?></p></td>
						</tr>
				<?php 		
					}
					}	
					}else{ ?>
					<tr>
					<td colspan="10" class="no_records_found">No records found</td>
		</tr>
					<?php 	
					}
			  }else{
				  ?>
					<tr>
					<td colspan="10" class="no_records_found">No records found</td>
							  </tr> 	<?php 
			  }
			  }else if($_GET['tagCloud']){ }else{ ?>
					<tr>
					<td colspan="10" class="no_records_found">No records found</td>
							  </tr> <?php }		  
				?> 	
	</table>
	<!--  end product-table................................... --> 
	</div>			
<div class="clear"></div>
</div>