


<script type="text/javascript">
	$(document).ready(function() 
	{
		//fancybox settings
		$(".view_template").fancybox({
				//'titlePosition'	: 'outside',
				'type': 'iframe',
				'autoDimensions' : false,
				'width' :	960, 
				'height' :	1000, 
				'onStart': function(){
     		 	 jQuery("#fancybox-overlay").css({"position":"fixed"});
   			}
		
			});
	});
</script>
<div style='height:auto' width="100%" >
<p style="color:red"> Legends: Red Article - Recently Updated (In Last 2 Weeks)</p>
<?php
$tempArray = array();
//pr($resultData);die;
foreach($resultData as $res){
//pr($res['category']);

	$tempArray[$res['category']][$res['id'] ]= $res['title']."-&-".$res['modified']; 
	//pr($res['title']);die;
}
	
$options=$this->General->getCMSCategory();
	//pr($options); die;
	$index = 1;
	//pr($tempArray);die;
		foreach($tempArray as $key=>$value){
		//foreach($tempArray as $temp){
		//foreach($temp as $key=>$value){
		//pr($options[$key]);
		//pr($value);die;
			?>
			<div class="sitemap" >
			<?php echo '<div><b>'.$options[$key].'</b></div>';
			//($options[$key]);die;
					//echo $res['title'].'<br/>';
					//pr($res['title']);
				foreach($value as $key=>$val){
				
				//pr($value);
					
					$vall =  explode('-&-',$val);
					$modified_date = $vall[1];
					
					//pr($modified_date);
					
					$diff = $this->General->expiredTime($modified_date); 
					$hours = $diff['hours'];

					//pr($hours);
					
					$setClass = ($hours>336) ? "" : "font-weight:bold;color:red;" ;
					echo $this->Html->link($vall[0],
						array('controller'=>'static_pages','action'=>'view','key'=>$key),
						array('class'=>'view_template view_temp','title'=>$vall[0],'style'=>$setClass)
					   )."<br/>";
				}

			?>
			</div>
		<?php
		if($index%3 == 0)
			{
			echo "<div style='clear:both;' ></div> ";
			}
			$index++;
		}
		//}
?>
</div>
<?php echo $this->Form->end(); ?>
<!--  end content-table-inner  -->