
<div style="margin:0 auto;background-color:#DFDFDF; color:#333333;padding:5px;font-family:Arial,Helvetica,sans-serif;font-size:12px">
<?php
if(isset($result)){
	$content=$result['content'];
	$title=$result['title'];
}
?>

<p class=" p17 c9 f4 b"><?php echo $title; ?></p>
        <div class="j p18">
              <?php echo $content;?>
	    </div>
</div>