
<link href="<?php echo BASE_URL; ?>bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- animation CSS -->
<link href="<?php echo BASE_URL; ?>css/animate.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="<?php echo BASE_URL; ?>css/style_new.css" rel="stylesheet">
<link href="<?php echo BASE_URL; ?>css/colors/blue.css" id="theme"  rel="stylesheet">
<input type="hidden" class="base" value ="<?php echo $this->Url->build('/', true);?>">





<?php echo $this->Html->script(array('jquery-3')) ?>

<style>
    .notification{
     color:red !important;
   font-size:20px; 
   font-weight:bold;
   margin-top:17px;
   line-height:51px;
  } 
  .notificationAllotedto{
    color:red !important;
   font-size:20px; 
   font-weight:bold;
   margin-top:17px;
   line-height:51px;
  }
  
#product-table td.alternate-row {
    background: #ff6544 none repeat scroll 0 0;
}
</style>


</style>
<script type="text/javascript">

    
  function display(id) {
    var temp = id.split("_");

    $('#paytext_' + temp[1]).toggle();
    $('#showpass_' + temp[1]).toggle();
}
function displaysec(id) {
    var temp = id.split("_");

    $('#paysectext_' + temp[1]).toggle();
    $('#showsecpass_' + temp[1]).toggle();
}
function displays(id) {
    var temp = id.split("_");

    $('#paytexts_' + temp[1]).toggle();
    $('#showpasss_' + temp[1]).toggle();
}
function display4(id) {
    var temp = id.split("_");

    $('#paytext4_' + temp[1]).toggle();
    $('#showpass4_' + temp[1]).toggle();
}
</script>
<style type="text/css">
    #content{
        max-width:100%;
        min-width:100%;
    }
</style>
<!--  start content-table-inner -->
      <div class="col-sm-12">
            <div class="white-box">
    <a id='close-fb' style='visibility:hidden' href="javascript:void(0);" onclick='javascript:closefb();'></a> <!--This Link is used to close iframe on click -->
	<?php $user = $session->read("SESSION_ADMIN"); ?>
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr valign="top">
            <td>

                <!--  start table-content  -->
                <div id="table-content">
			<?php $this->Flash->render(); 
				//echo "<pre>";
				//print_r($cre_data);
				
			//	die();
			?>
                    <center><span class="font-bold text-success"> <?php echo strtoupper($cre_data[0]['username'])."'s"." ";?> <?php echo strtoupper($cre_data[0]['type']).", ";  ?> ALLOTTED TO DETAILS</span></center>
                    <br></br>
                    <center><span class="font-bold text-success">Primary Allotted User(s)</span></center>
                    <table class="tablesaw table-bordered table-hover table tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-8990" style="margin-top:10px;font-size:12px;" border="0" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="userattend" style="width:20%;height:20px;" nowrap><h4>S. No.</h4></th>
                        <th class="userattend"style="width:50%;height:20px;" nowrap><h4>Employee Name</h4></th>
                        <th class="userattend"style="width:60%;height:20px;" nowrap><h4>Phone Number</h4></th>
                        </tr><?php
				if(count($cre_data)>0){
				$i=1;
				//foreach($cre_data as $cre_val){
                    //pr($cre_data);
				?>
                        <tr>
                            <td><?php  echo $i; ?></td>
                            <td><?php  echo $cre_data['user']['username']; ?></td>
                            <td><?php  echo $cre_data['user']['phone']; ?></td>
                        </tr>
				<?php
				$i++;
				//}

                } else{?>
                        <tr>
                            <td colspan="3" class="no_records_found">No records found</td>
                        </tr>
		<?php } ?>
                    </table>
                  
                    <center><span class="font-bold text-success">Secondry Allotted User(s)</span></center>
                    <table class="tablesaw table-bordered table-hover table tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-8990" style="margin-top:10px;font-size:12px;" border="0" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="userattend" style="width:20%;height:20px;" nowrap><h4>S. No.</h4></th>
                        <th class="userattend"style="width:50%;height:20px;" nowrap><h4>Employee Name</h4></th>
                        <th class="userattend"style="width:60%;height:20px;" nowrap><h4>Phone Number</h4></th>
                        </tr><?php
				if(count($allotedData)>0){
				$i=1;
				foreach($allotedData as $alo_val){
                   // pr($alo_val);
				?>
                        <tr>
                            <td><?php  echo $i; ?></td>
                            <td><?php  echo $alo_val['username']; ?></td>
                            <td><?php  echo $alo_val['phone']; ?></td>
                        </tr>
				<?php
				$i++;
				}} else{?>
                        <tr>
                            <td colspan="3" class="no_records_found">No records found</td>
                        </tr>
		<?php } ?>
                    </table>
					
					
					
					 <br><center><span class="font-bold text-success">SaleProfile Log Detail</span></center>
					 <br> <table class="tablesaw table-bordered table-hover table tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-8990" style="margin-top:10px;font-size:12px;" border="0" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                        <th class="userattend" style="width:25%;height:20px;" nowrap><h4>User Name</h4></th>
                       	<th class="userattend" style="width:28%;height:20px;" nowrap><h4>Password</h4></th>
                        <th class="userattend" style="width:20%;height:20px;" nowrap><h4>Type</h4></th>  
                        <th class="userattend" style="width:28%;height:20px;" nowrap><h4>Allocated On</h4></th>
                        <th class="userattend" style="width:28%;height:20px;" nowrap><h4>Deallocated On</h4></th>
                        
						
						</tr>
						
						  
						  <?php 
						  $counterTag = 1;
						 //  echo "<pre>"; 
							//print_r($clogs);
						//die();
                   if(count($clogs)>0){
					  
                          foreach($clogs as $clog){ 
					//	 pr($clog);die();
						  ?>
						  
                        <tr>
                     <td><?php  echo $clog['username']; ?></td> 
                





					  <td><a id="showpass4_<?php echo $clog['id']; ?>" href="#A" onClick='display4(this.id);'>Show</a>	<div style="display4:none;" class="leftlbl_<?php  echo $clog['id']; ?>" id="paytext4_<?php  echo $clog['id']; ?>" onClick='display4(this.id);'><?php  echo htmlspecialchars($clog['password']); ?></div>
			        
					 <td><?php  echo $clog['type']; ?></td>
				     <td><?php  echo $clog['allocatedon']; ?></td>
					 <td><?php  echo $clog['deallocatedon']; ?></td>	
                        </tr>
							<?php  
								}
							} else{?>
                        <tr>
                            <td colspan="6" class="no_records_found">No records found</td>
                        </tr>
		<?php } ?>
                    </table>
					
					
					
					
					
                    <h2 class="font-bold text-danger">Alert Notes: </h2>
                    <h4 class="font-bold text-danger"> A) Credential May be known to Employee who is working on the same project.</br>
                        B) Credential May be known to Employee by other employees working on the other project.</h4>
                </div>
				
                <div class="clear"></div>

            </td>

    </table>
    <div class="clear"></div>
</div>

</div>  



        <!--<script src="<?php echo BASE_URL; ?>/plugins/bower_components/jquery/dist/jquery.min.js"></script>-->
<!-- Bootstrap Core JavaScript -->
<script src="<?php echo BASE_URL; ?>bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
