
<?php echo $this->Html->script(array('jquery-3','jquery.bind','common','listing','jsdatepick/jsDatePick','jquery-ui/jquery-ui.min','datetimepicker/jquery.datetimepicker.min','stuHover','site','jquery-ticker/jquery.ticker','pGenerator.jquery','rating_simple','fancybox/source/jquery.fancybox')) ?>
<?php echo $this->Html->css(array("screen")); ?>
<?php  echo $this->Html->css(array('jquery_ui_datepicker','popup.css')); ?>
<?php echo $this->Html->script(array('jquery-3','jquery-ui.min','jquery-ui-datepicker','jquery-ui-timepicker-addon','allajax')); ?>

<script type="text/javascript">
	var base_url = "<?php echo $this->Url->build('/', true); ?>";;
	var old_creditID="";
	var old_username="";
	var old_type="";
	$(document).ready(function(){
		$('input[type=radio]').click(
			function(e){
				var creditID = $(this).val(); //alert(creditID);
				var username = $('#'+creditID).html(); //alert(username);
				old_username = window.parent.$('#'+$(this).attr('class')).val();
				var key= $('.cre_type').val();
				if(key == 'webmail'){
					console.log(key);	
					var password = $(this).closest('tr').find('.pwd').text();
					console.log(password);
					window.parent.$('.pwd').val('');
					window.parent.$('.pwd').val(password);
				}
				old_type = $(this).attr('class'); 
				window.parent.$('#'+$(this).attr('class')).val(username);
				
				if(assignFreeCredits(old_type,old_username)){
					old_creditID = creditID;
					old_username = username;
				}
								
			}
		);
	});
</script>
<!--  start content-table-inner -->
	<div id="content-table-inner">
	<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr valign="top">
	<td> 
	</div>
	<!--  start table-content  -->
			<div id="table-content">
			<center><span style="font-weight:bold;"> Free <?php if($key=='cyberoam'){ $key ='Gmail';} echo ucfirst($key);  ?> </span></center>
			<input type="hidden" name="type" class="cre_type" value="<?php echo $key;?>">
				<table style="margin-top:10px;font-size:15px;" border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
					<tr>
						<th class="userattend" width="10%">Sr No.</th>
						<th class="userattend" width="30%">Keyword</th>
						<th class="userattend" width="30%">Password</th>
						<th class="userattend" width="30%">Assign It</th>
					</tr>
				<?php if(count($resultData)>0){
				$i = 1;
				foreach($resultData as $key1=>$val): ?>

				<tr>
					<td><?php echo $i;   $val1 = trim($val['id']); ?> </td>
					<td><span id="<?php echo $val1; ?>"><?php echo $username=$val['username']; ?></span></td>
					<td><span class="pwd"><?php echo $val['password']; ?></span></td>
					<td>
					
					   <input type="radio" name="assignme" class="<?php echo $key ?>" value="<?php echo $val1 ?>">
					</td>
				</tr>
				<?php 
				$i ++;
				endforeach; ?>
				<?php } else { ?> 
				<tr>
					<td colspan="6" class="no_records_found">No <?php echo ucfirst($key); ?> is free !</td>
				</tr>
		<?php } ?>
				</table>
				<!--  end product-table --> 
			</div>
			<!--  end content-table  -->
			<div class="clear"></div>

	</td>
</table>
<div class="clear"></div>
</div>
<!--  end content-table-inner  -->