<link href="<?php echo BASE_URL; ?>bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="<?php echo BASE_URL; ?>plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
<!-- Menu CSS -->
<link href="<?php echo BASE_URL; ?>plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
<!-- toast CSS -->
<link href="<?php echo BASE_URL; ?>plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
<link href="<?php echo BASE_URL; ?>plugins/bower_components/typeahead.js-master/dist/typehead-min.css" rel="stylesheet">
<link rel="stylesheet" href="<?php echo BASE_URL; ?>plugins/bower_components/html5-editor/bootstrap-wysihtml5.css" />
<!-- Dropzone css -->
<link href="<?php echo BASE_URL; ?>plugins/bower_components/dropzone-master/dist/dropzone.css" rel="stylesheet" type="text/css" />
<!-- morris CSS -->
<link href="<?php echo BASE_URL; ?>plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
<!-- animation CSS -->
<link href="<?php echo BASE_URL; ?>css/animate.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="<?php echo BASE_URL; ?>css/style_new.css" rel="stylesheet">
<link href="<?php echo BASE_URL; ?>plugins/bower_components/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">
<link href="<?php echo BASE_URL; ?>plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
     <!-- wysihtml5 CSS -->
<link href="<?php echo BASE_URL; ?>plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<!-- Daterange picker plugins css -->
<link href="<?php echo BASE_URL; ?>plugins/bower_components/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="<?php echo BASE_URL; ?>plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="<?php echo BASE_URL; ?>plugins/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<!-- color CSS -->
<link href="<?php echo BASE_URL; ?>plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
<link href="<?php echo BASE_URL; ?>css/colors/blue.css" id="theme"  rel="stylesheet">
   <link href="<?php echo BASE_URL; ?>js/tpt/angular-block/dist/angular-block-ui.min.css" rel="stylesheet">
<?php echo $this->Html->css(array('jquery_ui_datepicker','popup.css')); ?>

<input type="hidden" class="base" value ="<?php echo $this->Url->build('/', true);?>">
<link href="../plugins/bower_components/tablesaw-master/dist/tablesaw.css" rel="stylesheet">


<div id="content-table-inner">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr valign="top">
    <td>
    <!--  start table-content  -->
            <div id="table-content">
            <center><div class="font-bold text-success">  Appraisals Details </div>
                
                 <table class="tablesaw table-bordered table-hover table tablesaw-swipe tablesaw-sortable m-l-10" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-8990" style="">


                <div id="success" style="color:green;font-size:13px;float:left; padding-bottom:5px;"></div>
                <div id="error_msg" style="color:red;font-size:13px;float:left; padding-bottom:5px;"></div>
                    
      
        <tr>
            <td ><b>User:</b></td>
            
            <td><?php echo $resultData[0]['Users']['first_name']." ".$resultData[0]['Users']['last_name']; ?></td>
        </tr>
        <tr>
            <td ><b>Supervisor:</b></td>
            <td><?php echo $resultData[0]['Supervisor']['first_name']." ".$resultData[0]['Supervisor']['last_name']; ?></td>
        </tr>
        <tr>
            <td ><b>Appraised amount:</b></td>
            <td><?php echo $resultData[0]['appraised_amount']; ?></td>
        </tr>
        <tr>
            <td ><b>Evaluation from:</b></td>
            <td><?php echo date("d-m-Y",strtotime($resultData[0]['evaluation_from'])); ?></td>
        </tr>
        <tr>
            <td ><b>Evaluation to:</b></td>
            <td><?php echo date("d-m-Y",strtotime($resultData[0]['evaluation_to'])); ?></td>
        </tr>
        <tr>
            <td ><b>Technical Competency:</b></td>
            <td><?php echo $resultData[0]['technical_5']; ?></td>
        </tr>
        <tr>
            <td ><b>Communication Competency:</b></td>
            <td><?php echo $resultData[0]['communication_5']; ?></td>
        </tr>
        <tr>
            <td ><b>Interpersonal Competency:</b></td>
            <td><?php echo $resultData[0]['interpersonal_5']; ?></td>
        </tr>
        <tr>
            <td ><b>Technical comment:</b></td>
            <td><?php echo $resultData[0]['technical_comment']; ?></td>
        </tr>
        <tr>
            <td ><b>Communication comment:</b></td>
            <td><?php echo $resultData[0]['communication_comment']; ?></td>
        </tr>
        <tr>
            <td ><b>Interpersonal comment:</b></td>
            <td><?php echo $resultData[0]['interpersonal_comment']; ?></td>
        </tr>
        <tr>
            <td ><b>User comment:</b></td>
            <td><?php echo $resultData[0]['user_comment']; ?></td>
        </tr>
        <tr>
            <td ><b>Supervisor comment:</b></td>
            <td><?php echo $resultData[0]['supervisor_comment']; ?></td>
        </tr>
        <tr>
            <td ><b>Next review:</b></td>
            <td><?php echo date("d-m-Y",strtotime($resultData[0]['next_review_date'])); ?></td>
        </tr>
        <tr>
            <td ><b>Effective from:</b></td>
            <td><?php echo date("d-m-Y",strtotime($resultData[0]['effective_from'])); ?></td>
        </tr>
        <tr>
            <td ><b>Appraisal date:</b></td>
            <td><?php echo date("d-m-Y",strtotime($resultData[0]['appraisal_date'])); ?></td>
        </tr>  
        <tr>
            <td ><b>New designation:</b></td>
            <td><?php echo ucfirst($resultData[0]['new_designaiton']); ?></td>
        </tr>
        <tr>
            <td ><b>Status:</b></td>
            <td><?php if($resultData[0]['status']==1){
                echo "Agree";
            }elseif($resultData[0]['status']==0){
                echo "Not Agree";
            }?></td>
        </tr>
    </table>
                <!--  end product-table --> 
            </div>
            <!--  end content-table  -->
            <div class="clear"></div>

    </td>
</table>


<div class="clear"></div>
</div>
<?php 
    echo  $this->Html->script(array('jquery-3','migrate','common','listing','project'));
    $this->Html->script(array('jquery-3','migrate',"jquery-ui/jquery-ui.min",'datetimepicker/jquery.datetimepicker.min','jquery_timepicker_latest' , 'allajax.js','common','listing','project'));
?>

<!--<script src="<?php echo BASE_URL; ?>/plugins/bower_components/jquery/dist/jquery.min.js"></script>-->
<!-- Bootstrap Core JavaScript -->
<script src="<?php echo BASE_URL; ?>bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="<?php echo BASE_URL; ?>plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="<?php echo BASE_URL; ?>js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="<?php echo BASE_URL; ?>js/waves.js"></script>
<!--Counter js -->
<script src="<?php echo BASE_URL; ?>plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
<script src="<?php echo BASE_URL; ?>plugins/bower_components/counterup/jquery.counterup.min.js"></script>
<!--Morris JavaScript -->
<script src="<?php echo BASE_URL; ?>plugins/bower_components/raphael/raphael-min.js"></script>
<!--
<script src="<?php echo BASE_URL; ?>plugins/bower_components/morrisjs/morris.js"></script>-->
<!-- Custom Theme JavaScript -->
<script src="<?php echo BASE_URL; ?>js/custom.min.js"></script>
<script src="<?php echo BASE_URL; ?>js/dashboard1.js"></script>
<!-- Sparkline chart JavaScript -->
<script src="<?php echo BASE_URL; ?>plugins/bower_components/sweetalert/sweetalert.min.js"></script>
<script src="<?php echo BASE_URL; ?>plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js"></script>
<script src="<?php echo BASE_URL; ?>plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="<?php echo BASE_URL; ?>plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>
<script src="<?php echo BASE_URL; ?>plugins/bower_components/toast-master/js/jquery.toast.js"></script>

<script src="<?php echo BASE_URL; ?>plugins/bower_components/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
<script src="<?php echo BASE_URL; ?>plugins/bower_components/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
 <script src="<?php echo BASE_URL; ?>plugins/bower_components/switchery/dist/switchery.min.js"></script>
 <script src="<?php echo BASE_URL; ?>plugins/bower_components/typeahead.js-master/dist/typeahead.bundle.min.js"></script>
 <script src="<?php echo BASE_URL; ?>plugins/bower_components/typeahead.js-master/dist/typeahead-init.js"></script>
 <script src="<?php echo BASE_URL; ?>tagsinput/dist/bootstrap-tagsinput.min.js"></script>

 <script src="<?php echo BASE_URL; ?>plugins/bower_components/html5-editor/wysihtml5-0.3.0.js"></script>
<script src="<?php echo BASE_URL; ?>plugins/bower_components/html5-editor/bootstrap-wysihtml5.js"></script>
<script src="<?php echo BASE_URL; ?>plugins/bower_components/dropzone-master/dist/dropzone.js"></script>
<!-- <script src="<?php echo BASE_URL; ?>plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script> -->
<!-- Date range Plugin JavaScript -->
<!-- <script src="<?php echo BASE_URL; ?>plugins/bower_components/timepicker/bootstrap-timepicker.min.js"></script> -->
<!-- <script src="<?php echo BASE_URL; ?>plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script> -->
<script src="<?php echo BASE_URL; ?>plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js"></script>
<!-- <script src="<?php echo BASE_URL; ?>plugins/bower_components/moment/moment.js"></script> -->
<script type="text/javascript" src="<?php echo BASE_URL; ?>plugins/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


      
<!--Style Switcher -->
<script src="<?php echo BASE_URL; ?>plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
        <script src="../plugins/bower_components/tablesaw-master/dist/tablesaw.js"></script>
<script src="../plugins/bower_components/tablesaw-master/dist/tablesaw-init.js"></script>