<?php  $this->Html->script(array('jquery-1.8.3.min','jquery.bind','common','listing','jsDatePick.min.1.3','jquery.validate','jquery-ui.min','jquery-ui-datepicker','jquery-ui-timepicker-addon','stuHover','site','jquery.ticker','pGenerator.jquery','rating_simple'));?>
<?php echo $this->Html->script(array('jquery-3','jquery.bind','common','listing','jsdatepick/jsDatePick','jquery-ui/jquery-ui.min','datetimepicker/jquery.datetimepicker.min','stuHover','site','jquery-ticker/jquery.ticker','pGenerator.jquery','rating_simple','fancybox/source/jquery.fancybox')) ?>
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>js/fancybox/source/jquery.fancybox.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>js/jsdatepick/jsDatePick_ltr.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL; ?>js/jsdatepick/jsDatePick_rtl.css" media="screen" />
<link rel="shortcut icon" href="<?php echo BASE_URL; ?>img/favicon.ico">
<?php echo $this->Html->script(array('jquery.selectbox-0.5_style_2','jquery.filestyle','custom_jquery','jquery-dimensions/jquery.dimensions','functions','common'));
$this->Html->script(array('jquery.selectbox-0.5_style_2','jquery.filestyle','custom_jquery','jquery.tooltip','jquery.dimensions','jquery.pngFix.pack','functions','common')); ?>
<script src="<?php echo BASE_URL; ?>js/common.js"></script>

<?php echo $this->Html->css(array('oribe')); ?>
    <!--  start content-table-inner -->
      <div class="col-sm-6">
            <div class="white-box">


<?php echo $this->Form->create('Finance',array('url'=>['action'=>'add'],'method'=>'POST',+
'onsubmit' => '',"class"=>"login")); ?>


    <?php $this->Flash->render(); ?>
     <div class="form-group">
                       <label for="exampleInputpwd1">Title</label>
                       <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                <?php
                 echo $this->Form->input("title",array("class"=>"form-control","label"=>false,"div"=>false));
            ?></div>
            <?php if(isset($errors['title'])){
                            echo $this->General->errorHtml($errors['title']);
                            } ;?></div>

            <div class="form-group">
                       <label for="exampleInputpwd1">Desription</label>
                       <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>

                <?php
                 echo $this->Form->input("description",array("class"=>"form-control","label"=>false,"div"=>false));
                 //echo $form->hidden("id");
            ?></div>
             <?php if(isset($errors['desrcription'])){
                            echo $this->General->errorHtml($errors['description']);
                            } ;?></div>
 <div class="form-group">
                       <label for="exampleInputpwd1">Amount</label>
                       <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>

                <?php
                 echo $this->Form->input("amount",array("class"=>"form-control","label"=>false,"div"=>false));
            ?>
             
            </div>



         <!--<div class="form-group">
                       <label for="exampleInputpwd1">Client Password</label>
                       <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>

            <?php
             //  echo $this->Form->input("cpassword",array("type"=>"text","id"=>"cpassword","class"=>"form-control","label"=>false,"div"=>false));
            ?></div>


            <?php //if(isset($errors['cpassword'])){
                        //    echo $this->General->errorHtml($errors['cpassword']);
                      //      } ;?></div>

          <span class="password" onclick="$('#cpassword').val($.password(12,true));">Generate Password</span>





     <div class="form-group">
                       <label for="exampleInputpwd1">Skyup</label>
                       <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                <?php
              // echo $this->Form->input("skype",array("class"=>"form-control","label"=>false,"div"=>false));
            ?></div>

             <?php//if(isset($errors['skype'])){
                          // echo $this->General->errorHtml($errors['skype']);
                            } ;?></div>
 <div class="form-group"> 
               <label for="inputName" class="control-label">Other finance:</label>
<?php
               // echo $this->Form->input("otherfinance",array("class"=>"form-control","label"=>false,"div"=>false));
            ?></div>


         <div class="form-group">
                       <label for="exampleInputpwd1">Source</label>
                       <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>    
            
                <?php
                // echo $this->Form->input("source",array("class"=>"form-control","label"=>false,"div"=>false));
            ?></div>
            <?php //if(isset($errors['source'])){
                   //        echo $this->General->errorHtml($errors['source']);
                           // } ;?></div>-



                  <div class="form-group">
                       <label for="exampleInputpwd1">Type</label>
                       <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div> 

                        <?php
                    $options//=array( 'general'    =>  'General', 
                                //    'lead'    =>  'Lead', 
                                //   'recurring'    => 'Recurring',
                                //   'silver'    => 'Silver',
                                //    'gold'     => 'Gold',
                                //   'platinum'     => 'Platinum',
                  //    );
           // echo $this->Form->input("type",array('type'=>'select','options'=>$options,"class"=>"form-control","label"=>false,"div"=>false));    
            ?></div></div>-->


<!-- <div class="form-group"> 
               <label for="inputName" class="control-label">Notes:</label>


          <?php
              // echo $this->Form->input("notes",array("class"=>"form-control","label"=>false,"div"=>false));
                 //echo $form->hidden("id");
            ?></div>-->

     <div class="form-group">
                       <label for="exampleInputpwd1">Select Card</label>
                       <div class="input-group">
                       


                  <?php


                  //echo $this->Form->input("iscurrent",array('type'=>'checkbox','class'=>'roles',"label"=>false,"id"=>"iscurrent",'hiddenField'=>true));?>
                  <!-- echo $this->Form->input('iscurrent', array('type'=>'select', 'multiple' => 'checkbox', 'options' => $poderes, 'label' => false)); ?>
                 echo "<label class='projectlbl' for ="iscurrent">Credit Card </label><br/>";
                 
                   echo "<label class='projectlbl' for ="iscurrent1">Debit Card </label><br/>";-->
                   



                   <!--<div class="checkbox"><input type="checkbox" id="iscurrent" /><label for="iscurrent">Credit Card</label></div>

                <div class="checkbox"><input type="checkbox"  id="iscurrent1" /><label for="iscurrent1">Debit Card</label> -->


               <?php echo $this->Form->radio('cardtype', array( 
        'Credit' => 'Credit',
        'Debit' => 'Debit',
    ), 
    array(
      'class' =>'roles',
      'id' => 'iscurrent',
        'legend' => false,
        'value' => '',    
    )
);?>
                 <!-- <div class="input select"><input type="hidden"value="" id="iscurrent"/>

<div class="checkbox"><input type="checkbox" id="iscurrent" /><label for="iscurrent">Negociacao</label></div>
<div class="checkbox"><input type="checkbox"  id="iscurrent1" /><label for="iscurrent1">Comerciais</label></div>-->
                </div> </div>



<div class="form-group">
   <button type="submit" class="btn btn-success">Submit</button>
 <?php 
  echo $this->Html->link("Reset",  ['controller'=>'finance','action'=>'add','prefix' => 'finance'],['class'=>"btn btn-inverse waves-effect waves-light"]);?>

 </div>
 </div>
</div>
</div>
    <!-- end id-form  -->

 <div class="col-sm-6">
    <div class="white-box">
         <div class="form-group">
          <div class="row el-element-overlay m-b-40">
   <div class="sttabs tabs-style-linebox erw">
                    <nav class="lis">
                     <h4 class="media-heading">financeManagement</h4>
         finance Management is used to keep track of names, addresses, telephone numbers, and other information. 
                    <ul >
                 <li> <?php  echo $this->Html->link("Go To Listing",array('controller'=>'finance','action'=>'list'), array('style'=>'color:red;'));?>
               </li> 
             
                        
                 </ul>
                    </nav>
               </div><!-- /tabs -->
            
   </div>   
 </div>
</div>
     
   
</body>
</html>


