<link href="<?php echo BASE_URL; ?>plugins/bower_components/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">

<?php echo $this->Html->css(array('oribe')); ?>
<?php
 $this->Html->script(array('jquery-3',"jquery-ui/jquery-ui",'allajax','migrate', 'common','listing','project'));
 ?>
 <link href="../plugins/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" />
 <script src="<?php echo BASE_URL; ?>js/jquery-3.js"></script>
 <script src="<?php echo BASE_URL; ?>js/jquery-ui/jquery-ui.js"></script>
 <script src="<?php echo BASE_URL; ?>js/datetimepicker/jquery.datetimepicker.js"></script>
 <script src="<?php echo BASE_URL; ?>js/jquery_timepicker_latest.js"></script>
  <script src="<?php echo BASE_URL; ?>js/allajax.js"></script>
  <script src="<?php echo BASE_URL; ?>js/common.js"></script>
<?php echo $this->Html->css(array("oribe")); ?>
<input id="pe" class="pe" value="<?php echo $pagename;?>">

<!-- <script type="text/javascript">
    $(document).ready(function() { 
      //calender
      $( "#sdate" ).datepicker({
        dateFormat: 'MM dd, yy',
      });
      $( "#edate" ).datepicker({
        dateFormat: 'MM dd, yy',
      });

     
  });
  </script> -->
<style>
.dropdown-menu.animated.drp_list {
    margin-left: 190px;
    z-index:2;
}
.row.pull-right {
    margin-bottom: 50px;
    margin-top: -136px;
    margin-left: 900px;
    position: absolute;
    width: 600px;
}


</style>
<style>
/*    .notification{
     color:red !important;
	 font-size:20px; 
	 font-weight:bold;
	 margin-top:17px;
	 line-height:51px;
	} 
	.notificationAllotedto{
		color:red !important;
	 font-size:20px; 
	 font-weight:bold;
	 margin-top:17px;
	 line-height:51px;
	}
	*/

</style>
<script src="../webroot/js/listing.js"></script>
<script type="text/javascript">

	function display4(id) {
        var temp = id.split("_");

        $('#paytext4_' + temp[1]).toggle();
        $('#showpass4_' + temp[1]).toggle();
    }
</script>

<?php //echo $javascript->link(array('jquery.mousewheel-3.0.4.pack.js','jquery.fancybox-1.3.4.js')); ?>

<?php echo $this->Html->css(array("jquery.fancybox-1.3.4.css")); ?>



<?php
$newUrl = "list".$urlString;
$urlArray = array(
	'field' 	=> $search1,
	'value' 	=> $search2
);
//$this->Paginator->options(array('url'=>$urlArray));

$this->Paginator->options(array('url'=> array('field'   => $search1,
                                     'value'    => $search2)));

//$this->Paginator->options(array('url' => ['action' => 'list']));

define('E_KEY', 'aaaaa7997b6d5fcd55f4b5c32611b87cd923e88837b63bf2941ef819dc8ca282');
// Encrypt Function
function mc_encrypt($encrypt, $key){
    $encrypt = serialize($encrypt);
    $iv = mcrypt_create_iv(mcrypt_get_iv_size(MCRYPT_RIJNDAEL_256, MCRYPT_MODE_CBC), MCRYPT_DEV_URANDOM);
    $key = pack('H*', $key);
    $mac = hash_hmac('sha256', $encrypt, substr(bin2hex($key), -32));
    $passcrypt = mcrypt_encrypt(MCRYPT_RIJNDAEL_256, $key, $encrypt.$mac, MCRYPT_MODE_CBC, $iv);
    $encoded = base64_encode($passcrypt).'|'.base64_encode($iv);
    $encoded = str_replace('/', 'karan', $encoded);
	$encoded = str_replace('+', 'simer', $encoded);
    $encoded = str_replace('|', 'doad', $encoded);
	return $encoded;
}
?>

<?php echo $this->Form->create('Finance',array('url' => ['action'=>'list'],'method'=>'POST', "class" => "longFieldsForm", "name" => "listForm", "id" => "mainform")); ?>
 <div class="row el-element-overlay m-b-40">
 
<div class="displaycount"><span class="counteringdata"> <?= $this->Paginator->counter([
    'format' => ' {{page}} of {{pages}}'
]) ?></span> Pages</div>
<!--  start content-table-inner -->
	<?php $user = $session->read("SESSION_ADMIN"); ?>
	<div class="col-md-12">
	<div class="col-md-3 searchingdata">
                 <?php
				$fieldsArray = array(
				''				  => 'Select',
				'Finance.title' => 'Title',
				'Finance.description' => 'Description',
				'Finance.amount'  => 'Amount',
        'Finance.cardtype' =>'Card Type',
				);
			
       echo $this->Form->input("Finance.fieldName",array("type"=>"select",'options'=>$fieldsArray,"class"=>"form-control","label"=>false,"div"=>false,"id"=>"status")); ?>

      </div>
	<div class="col-md-4">

		<?php
				$display1   = "display:none";
				$display2   = "display:none";
				if($search1 != "Testimonial.status"){
					$display1 = "display:block";
				}else{
					$display2 = "display:block";
				}
					echo $this->Form->input("Finance.value1",array("id"=>"search_input","class"=>"form-control","style"=>"width:200px;$display1", "div"=>false, "label"=> false,"value"=>$search2));
					?>
</div>
<div class="col-md-4">
	<?php
	echo $this->Form->button("Search", array('class'=>'fcbtn btn btn-success btn-outline btn-1b searchfaicon','id'=>'search','onclick'=>'setSubmitMode(this.id)'))."&nbsp;&nbsp;&nbsp;";
  echo $this->Html->link("Reset",  ['controller'=>'finance','action'=>'list','prefix' => 'finance'],['class'=>'fcbtn btn btn-danger btn-outline btn-1b resetproject']);  ?>


<button class="btn fcbtn btn btn-warning btn-outline btn-1b dropdown-toggle waves-effect waves-light" aria-expanded="false" data-toggle="dropdown" type="button">
		Sort By
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu animated drp_list" role="menu">
	    <li>
			<a href="#" class="1">Title</a>
		</li>  
		<li>
			<a href="#" class="2">Description</a>
		</li>
		<li>
			<a href="#" class="3">Amount </a>
		</li>
		<li>
			<a href="#" class="4"> Card Type </a>
		</li>
	</ul>

	<?php 
	echo $this->Html->link('<i class="fa  fa-plus"></i>',
	array('controller'=>'finance','action'=>'add'),
	['escape' => false,"class"=>"btn btn-info btn-circle ","data-toggle"=>"tooltip", "data-placement"=>"top" ,"data-original-title"=>"Click to add finance"]
	);?>
<?php echo $this->Form->end(); ?>
</div>
<div class="col-md-1 paginateproject">
	<ul class="pagination paginate-data">
		<li class="previousdata">
			<?php  echo $this->Paginator->prev('<span class="fa fa-angle-left" ></span>', ['escape' => false] );?>
		</li>
		<li>
			<?php echo $this->Paginator->next('<span class="fa fa-angle-right" ></span>', ['escape' => false] ); ?>
		</li></ul>
	</div>
       
            
<div class="ajax">
    <div class="parent_data">
	<?php if(count($resultData)>0){
			$i = 1;
			foreach($resultData as $result):
		if(!$result['status']%2)$class = "alternate-row"; else $class = "";  
 	         $testi_is_enabled = ($result['status'] == 1) ? 'checked': '';?>
						 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alldata">
                  <div class="white-box">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs firstLISt" role="tablist">
                          <li role="presentation" class="active"><a href="#ihome" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false"><span><i class="ti-home"></i></span></a></li>
                          <li role="presentation" class="" style="display:none;"><a href="#iprofile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span><i class="ti-user"></i></span> </a></li>
                          <li role="presentation" class="" style="display:none;"><a href="#imessages" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span><i class="ti-email"></i></span></a></li>
                          <li role="presentation" class="" style="display:none;"><a href="#isettings" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="true"><span><i class="ti-settings"></i></span></a></li>
                      </ul>
                      <!-- Tab panes  substring($row->parent->category_name,35);  -->
                      <div class="tab-content">
                          <div role="tabpanel" class="tab-pane ihome active" >
                             <ul class="list-group ">
                              <li class="list-group-item list-group-item-danger 1"><b>Title:</b> 
                         <?php
                                  $fullname =$result['title'];
                                  	$user=substr($fullname,0,10).((strlen($fullname)>10)? "...":"");
                               
                                  echo $user; ?></li>
                              
                               <li class="list-group-item list-group-item-success 2"><b>Description:</b>
                               <?php  $mail =$result['description'];
                                 $email=substr($mail,0,10).((strlen($mail)>10)? "...":"");
                                ?>
                              <a class="popover-primary" style="color:#986D3B" type="top" title="" data-toggle="popover" data-placement="top" data-content="<?php echo $result['description'];?>" data-original-title="Details" aria-describedby="popover507663"><?php echo $email;?></a>
                                  
                              </li>


                          <li class="list-group-item list-group-item-info 3"><b>Amount:</b> 
                             <?php 
                                 $mail =$result['amount'];
                                  $email=substr($mail,0,15).((strlen($mail)>15)? "...":"");
                                 
                                ?>
                         <a class="popover-primary" style="color:#986D3B" type="top" title="" data-toggle="popover" data-placement="top" data-content="Email:<?php echo $result['amount'];?>" data-original-title="Details" aria-describedby="popover507663"><?php echo $email;?></a>
                           </li>
                              
                            <li class="list-group-item list-group-item-danger 5"><b>Card:</b>
                              <?php echo $result['cardtype'];?>
                              </li>

             <input type="hidden" value = "<?php echo $result['encryptedid'];?>" class="wrapup" />

                                      <ul class="nav nav-tabs list-group-item-info" role="tablist">
                                         <li><?php 
                                           echo $this->Html->link(
                                              '<i class="fa fa-cog"></i>',
                                            array('controller'=>'finance','action'=>'edit',$result['id']),
                                             ['escape' => false,'class' => 'btn default btn-outline','title'=>'Edit','target'=>'_blank']
                                             );?></li>
                                           <li>
                                            <?php
                           echo $this->Html->link(
                      '<i class="ti-close"></i>',
                      array('controller'=>'finance','action'=>'delete','id'=>$result['id']),
                      ['escape' => false,'class' => 'btn default btn-outline deleteprojectdata','title'=>'Delete']
                      );
                      ?> </li>                                         
<li> <input type="checkbox" <?php echo $testi_is_enabled;?> class="js-switch pull-right textChekb0x"  data-color="#f96262" data-size="small" /></li>
                                             
                                       </ul>
                                 </ul>

                             </div>
                             <div role="tabpanel" class="tab-pane iprofile">
                                <div class="col-md-6">
                                  <h3>Lets check profile</h3>
                                  <h4>you can use it with the small code</h4>
                              </div>
                              <div class="col-md-5 pull-right">
                                  <p>Vulputate eget, arcu, fringilla vel, aliquet nec, daf adfd vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                          <div role="tabpanel" class="tab-pane imessages">
                            <div class="col-md-6">
                              <h3>Come on you have a lot message</h3>
                              <h4>you can use it with the small code</h4>
                          </div>
                          <div class="col-md-5 pull-right">
                              <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                          </div>
                          <div class="clearfix"></div>
                      </div>
                      <div role="tabpanel" class="tab-pane isettings">
                        <div class="col-md-6">
                          <h3>Just do Settings</h3>
                          <h4>you can use it with the small code</h4>
                      </div>
                      <div class="col-md-5 pull-right">
                          <p>Vulputate eget, fringilla vel, aliquet nec, daf adfd vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>


				<?php  $i++ ;
				endforeach; ?>
				<?php } else{ ?>
<div class="white-box leading">
<center class="ld"><h3 class="text-uppercase ">No Record Found !</h3></center><p class="text-muted m-t-30 m-b-30"></p> 
</div>
        <?php
      }
    ?>
	
  </div>
        <!-- /.usercard-->
      </div>
    


  <?php echo $this->Form->end(); ?>

	<?php
   echo $this->Html->script(array('cbpFWTabs.js'));
  ?>
	<!-- <script src="../plugins/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../plugins/bower_components/custom-select/custom-select.min.js" type="text/javascript"></script>
	<script src="../plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
	<script src="js/jquery.slimscroll.js"></script> -->
	<!-- Magnific popup JavaScript -->
 <script src="<?php echo BASE_URL; ?>plugins/bower_components/switchery/dist/switchery.min.js"></script>
	  <?php 
   echo  $this->Html->script(array('create'));
  ?>
  <script>
 jQuery(document).ready(function() {
    // Switchery
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function() {
            new Switchery($(this)[0], $(this).data());

        });
    // For select 2
         
 });

 </script>

	<script type="text/javascript">

	function veryfycheck()
	{
	alert("1) Either billing for this project is already added for this week."+'\n'+
	"2) Please verify all billing till previous week for this project and then reload this page again to add billing.");

	}

	(function() {

	[].slice.call( document.querySelectorAll( '.sttabs' ) ).forEach( function( el ) {
	new CBPFWTabs( el );
	});

	})();
	</script>



